.row
  .col-md-6.col-md-offset-2
    %h2.form-title Sign up
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class: 'form-horizontal', :"data-validate" => "parsley", novalidate: false, id:'checkout_form'}) do |f|
      /= f.error_notification
      = hidden_field_tag :member, params[:member]
      = javascript_include_tag "https://js.stripe.com/v2/"
      - if f.object.errors.present?
        .alert.alert-error
          = f.object.errors.full_messages.first if @user.errors.any?
      %span.payment-errors{style:'background: none repeat scroll 0 0 #FF0000;border-radius: 3px;color: #FFFFFF;'}
      .form-group{style:'margin-top:15px;'}
        %label.control-label.col-xs-4{for: "user_name"} *First Name
        .col-xs-8
          = f.text_field :first_name, required: true, autofocus: true, placeholder: "Name", class: 'form-control', :"data-required"=>"true", :"data-error-message"=>"Please input first name"
      .form-group
        %label.control-label.col-xs-4{for: "user_name"} *Last Name
        .col-xs-8
          = f.text_field :last_name, required: true, autofocus: true, placeholder: "Name", class: 'form-control'
      .form-group
        %label.control-label.col-xs-4{for: "user_email"} *Email
        .col-xs-8
          = f.email_field :email, required: true, placeholder: "Email", class: 'form-control'
      .form-group
        %label.control-label.col-xs-4{for: "user_email"} *Password
        .col-xs-8
          = f.password_field :password, required: true, placeholder: "********", class: 'form-control'
      .form-group
        %label.control-label.col-xs-4{for: "user_email"} *Password confirmation
        .col-xs-8
          = f.password_field :password_confirmation, required: true, placeholder: "********", class: 'form-control'      
      %br/
      .col-md-offset-4.col-md-10
        .form-group
          %label.control-label{"label-default" => ""} Card Number
          .controls
            .row
              .col-md-10
                %input.card-numbers.form-control{autocomplete: "off", required: true, title: "Card number", type: "text", :"data-stripe"=>"number"}/
        .form-group
          %label.control-label{"label-default" => ""} Card Expiry Date
          .controls
            .row
              .col-md-4
                %select.form-control{name: "exp_month", :"data-stripe" => "exp-month"}
                  %option{value: "01"} January
                  %option{value: "02"} February
                  %option{value: "03"} March
                  %option{value: "04"} April
                  %option{value: "05"} May
                  %option{value: "06"} June
                  %option{value: "07"} July
                  %option{value: "08"} August
                  %option{value: "09"} September
                  %option{value: "10"} October
                  %option{value: "11"} November
                  %option{value: "12"} December
              .col-md-3{style:'padding:0px;'}
                = select_year(Date.today, {start_year: Date.today.year-3, end_year: Date.today.year+8}, {class:'form-control', :"data-stripe" => "exp-year", name: "exp_year"})
              .col-md-3
                %input.form-control{autocomplete: "off", maxlength: "4", required: true, title: "Three digits at back of your card", type: "text", :"data-stripe" => "cvc", name:'cvc_number', placeholder: "CVC"}/
      .form-group
        %label.checkbox.col-xs-10.col-xs-offset-4
          %input#agree-privacy{type:"checkbox", :"data-required"=>"true", required: true} I agree to the terms of Use and Privacy Policy Learn more
        
      .form-group
        .col-xs-offset-4.col-xs-8
          = f.button :submit, "Submit", class:'btn btn-primary col-xs-3'
          = link_to "Cancel", root_path, class: 'btn btn-default col-xs-3 col-xs-offset-1'
    /= render "devise/shared/links"
  .com-md-3.chose-package-page
    .row
      - if params[:member].nil? || params[:member] == "large"
        .col-md-3.text-center.panel{style:"margin-top: 60px;"}
          %h2 Max(Trial)
          %h4 $19.99/month
          %h4.object FOR LARGE TEAMS
          .blank
          %h5
            Up to
            %strong 20 Super Cool Thingies
          %h5 Unlimited This
          %h5 Unlimited That
          %h5 Unlimited The Other
          = link_to "Slected", "#", class: 'btn btn-danger'
          %br/
          %br/
      - elsif params[:member] == "medium"
        .col-md-3.text-center.panel{style:"margin-top: 60px;"}
          %h2 Premium
          %h4 $29.99/month
          %h4.object FOR MEDIUM TEAMS
          .blank
          %h5
            Up to
            %strong 10 Super Cool Thingies
          %h5 Unlimited This
          %h5 Unlimited That
          %h5 Unlimited The Other
          = link_to "Slected", "#", class: 'btn btn-danger'
          %br/
          %br/
      - elsif params[:member] == "most"
        .col-md-3.text-center.panel{style:"margin-top: 60px;"}
          %h2 Plus
          %h4 $49/month
          %h4.object PERFECT FOR MOST
          .blank
          %h5
            Up to
            %strong 5 Super Cool Thingies
          %h5 Unlimited This
          %h5 Unlimited That
          %h5 Unlimited The Other
          = link_to "Slected", "#", class: 'btn btn-danger'
          %br/
          %br/
      - elsif params[:member] == "person"    
        .col-md-3.text-center.panel{style:"margin-top: 60px;"}
          %h2 Individual
          %h4 $79/month
          %h4.object FOR ONE PERSON
          .blank
          %h5
            %strong 1 Super Cool Thingy
          %h5 Unlimited This
          %h5 Unlimited That
          %h5 Unlimited The Other
          = link_to "Slected", "#", class: 'btn btn-danger'
          %br/