!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Assigned to new Task    
    %h3 You have been assigned to %taskName%. Please compelete by %End Date% and report to the system owner once compeleted
    %p
      