!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Assigned to new Task    
    %h3
      = "You have been assigned to #{@task.name}. Please compelete by #{@task.end_date.strftime('%d/%m/%Y')} and report to the system owner once compeleted"
    %p
      