!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 New contact
    %h3
      Name: 
      = @name
    %h3
      Email: 
      = @email
    %p
      = @text
    %p
      