!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Dear #{@user.name}
    %p
      Someone has requested a link to change your password.
      %br/
      You can do this through the link below.
      %br/
      = link_to 'Change my password', edit_password_url(@user, :reset_password_token => @token)
      %br/
      If you didn't request this, please ignore this email.
      Your password won't change until you access the link above and create a new one.
    %p
      Thank you,
      %br/
      BluAdmin
  