!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Schedule Test
    %h3
      Your Name is  
      = @user.name
    %h3
      Your Email is
      = @user.email
    