= form_for @task, html:{class: "form-horizontal"} do |f|
  = f.hidden_field :p_id, {value:params[:pid]}
  - f.object.errors.messages.each do |msg|
    .alert.alert-error= msg.join(' is ')
  
  .row
    .col-md-10
      .form-group
        .col-md-2
          %label *Task Name
        .col-md-10
          = f.text_field :name, required: true, autofocus: true, placeholder: "", class: 'form-control'
      .form-group
        .col-md-2
          %label Description
        .col-md-10
          = f.text_area :description, required: false, placeholder: "", class: 'form-control tinymce'
      .col-md-7
        .form-group
          .col-md-4
            %label *Site Code:
          .col-md-4
            - if f.object.project_id.present?
              %label= f.object.project.site_code
            - else
              = f.select :project_id, options_from_collection_for_select(current_user.live_projects.all, :id, :site_code, selected: params[:pid]), {}, {class: 'form-control', required: true}      
        .form-group
          .col-md-4
            %label *Owner
          .col-md-4
            = f.select :owner, options_from_collection_for_select(current_user.owners, "id", "name"), {prompt: "Select Owner"}, {class: 'form-control', required: true}
          .col-md-2
            = link_to "Add Owner", "#", class:"btn btn-default", :"data-toggle" => "modal", :"data-target" => "#modal_add_new_owner"
        .form-group
          .col-md-4
            %label Duration(Days)
          .col-md-4
            = f.number_field :duration, required: false, placeholder: "", class: 'form-control'
        .form-group
          .col-md-4
            %label Start Date
          .col-md-4
            .input-group.date
              = f.text_field :start_date, value:f.object.start_date.present? ? f.object.start_date.strftime("%d/%m/%Y") : "", class: 'form-control', style:'padding-right: 0px;', required: true
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
        / .form-group
        /   .col-md-4
        /     %label End Date
        /   .col-md-6          
        /     .input-group.date
        /       = f.text_field :end_date, value:f.object.end_date.present? ? f.object.end_date.strftime("%d/%m/%Y") : "", class: 'form-control', required: true
        /       %span.input-group-addon
        /         %span.glyphicon.glyphicon-calendar
      .col-md-5
        %label Attach Documents
        .row.attached-files-box
          - f.object.attach_files.each do |file|
            .row{style:"margin-left: 20px;"}
              .col-md-7
                = hidden_field_tag :attach_files, file.id.to_s, name:"attach_files[]"
                %label.file-name= file.read_attribute(:file)
              .col-md-5
                = link_to "X", "javascript://", :"data-url" => attach_file_path(file), class: 'btn-default btn-sm btn-file-close-btn'
        .row.attach-upload-form
          .col-md-7
            = file_field_tag :attach_file, required:false, :onchange =>"validateFiles(this);"
          .col-md-5.upload-button-group{style:'display: none;'}
            = link_to "Upload", "javascript://", class: 'btn btn-primary btn-sm btn-file-upload-btn'
            = link_to "Cancel", "javascript://", class: 'btn btn-danger btn-sm btn-file-cancel-btn'

  .row
    .form-group
      .col-xs-4
        *Required fields
      .col-xs-2
        = f.submit "Save", class: 'btn btn-primary col-xs-8'
      - if Task.where(id:@task.id).first.present? and !Task.where(id:@task.id).first.completed
        .col-xs-2
          = link_to "Mark as Complete", mark_as_complete_path(@task), method: :post, data: {confirm: "Are you sure"}, class: 'btn btn-default'
      - elsif Task.where(id:@task.id).first.present? and Task.where(id:@task.id).first.completed
        .col-xs-2
          = link_to "Mark as UnComplete", mark_as_uncomplete_path(@task), method: :post, data: {confirm: "Are you sure"}, class: 'btn btn-default'
      .col-xs-offset-0.col-xs-2
        - if params[:pid].present?
          = link_to "Cancel", edit_individual_project_path(@task.project.present? ? @task.project.id.to_s : params[:pid] )+"?fid=", class: 'btn btn-default col-xs-8 cancel-task-path'
        - else
          = link_to "Cancel", tasks_path+"?fid=", class: 'btn btn-default col-xs-8 cancel-task-path'


#modal_add_new_owner.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = form_for :owner, url: add_new_owner_path, method: :post, remote: true, html:{class: "form-horizontal add_new_owner_form"} do |f|
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Add New owner
        .modal-body.form-horizontal          
          .container
            .col-sm-5
              %fieldset
                .form-group
                  %label.col-sm-4.control-label{for: "title"} *Name
                  .col-sm-8
                    = f.text_field :name, required: true, class: "form-control"
                .form-group
                  %label.col-sm-4.control-label{for: "lastname"}  *Email
                  .col-sm-8
                    = f.email_field :email, required: true, class: "form-control"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit "Add", class: 'btn btn-primary'



:javascript
  $(".add_new_owner_form").on('ajax:success',function(event, data, status, xhr){
    if(data.success){
      $("#task_owner")[0].options.add(new Option(data.success[1], data.success[0]))
      alert("Added new owner");
      $("#modal_add_new_owner").modal('hide');
    }else{
      alert(data.failure)
    }
  });


  function validateFiles(inputFile) {
    var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
    var extErrorMessage = "Please check the file extension list \ndoc, docx, dotx, xls, xlt, xlsx, xltx, pptx, pptm, potx, ppt, pot, pps, psx, sldx, pdf, jpg, jpeg, gif, png, ods, fods, odp, fodp, odg, fodg, csv";
    var allowedExtension = ["doc", "docx", "dotx", "xls", "xlt", "xlsx", "xltx", "pptx", "pptm", "potx", "ppt", "pot", "pps", "psx", "sldx", "pdf", "jpg",  "jpeg",  "gif",  "png", "BMP", "JPEG", "JPG", "PSD", "GIF", "TIF", "TIFF", "ods", "fods", "odp", "fodp", "odg", "fodg", "csv"]
   
    var extName;
    var maxFileSize = $(inputFile).data('max-file-size');
    var sizeExceeded = false;
    var extError = false;
   
    $.each(inputFile.files, function() {
      if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
      extName = this.name.split('.').pop();
      if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
    });
    if (sizeExceeded) {
      window.alert(maxExceededMessage);
      $(inputFile).val('');
    };
   
    if (extError) {
      window.alert(extErrorMessage);
      $(inputFile).val('');
    };

    if (!sizeExceeded && !extError){    
      $(".upload-button-group").show();
    }
  }


  $(".btn-file-upload-btn").click(function(){
    data = new FormData();
    jQuery.each($('#attach_file')[0].files, function(i, file) {
        data.append('file', file);
    });    
    $.ajax({
      url: '/attach_files',
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      type: 'POST',
      success: function(data){
        data = jQuery.parseJSON(data);
        row = '<div class="row" style="margin-left: 20px;"><div class="col-md-7"><input id="attach_files" type="hidden" value="'+data.id+'" name="attach_files[]"><label class="file-name">'+data.name+'</label></div><div class="col-md-5"><a href="javascript://" data-url="'+data.delete_url+'" class="btn-default btn-sm btn-file-close-btn">X</a></div></div>'
        $(row).appendTo(".attached-files-box");
        $(".upload-button-group").hide();
        $("#attach_file").val('');
        href = $(".cancel-task-path").attr('href')
        href = href +data.id+ ','
        $(".cancel-task-path").attr('href', href)
      },
      error:function(request, textStatus, errorThrown) {
        msg = JSON.parse(request.responseText)
        var message = (request.status == 422) ? msg.errors : "An unknown error occurred. Support has been contacted.";
        alert(message);
      }
    });
  });

  $(".btn-file-cancel-btn").click(function(){
    $(".upload-button-group").hide();
    $("#attach_file").val('');
  })


  $('.attached-files-box').on('click', '.btn-file-close-btn', function(){
    $.ajax({
      url: $(this).data("url"),
      data: 'data',
      type: 'DELETE',
      done: function(data){      
        $(this).parent().parent().remove();
      }      
    });
    $(this).parent().parent().remove();
  })
  