.row.tasks-list  
  .row
    .col-md-10
      %h1.form-title Tasks
    .col-md-2{style:'margin-top:26px;'}
      = link_to "Add Task", new_task_path, class: 'btn btn-primary', :"data-no-turbolink"=>true
  .col-md-12
    .row
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Task Name
            %th SiteCode
            %th Duration
            %th Start Date
            %th End Date
            %th Owner
            %th Mange
        %tbody
          - @tasks.each do |task|
            %tr
              %td
                = link_to task.name, task_path(task)
              %td= task.project.site_code
              %td= task.duration
              %td= task.start_date.strftime("%d/%m/%Y")
              %td= task.end_date.strftime("%d/%m/%Y")
              %td= task.owner_name
              %td
                = link_to(edit_task_path(task), class: 'btn-mini', :"data-no-turbolink"=>true) do
                  %i.glyphicon.glyphicon-pencil
                = link_to(task_path(task), class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                  %i.glyphicon.glyphicon-trash 
        %tfooter
          %tr
  / .col-md-2
  /   %label 
  /     = DateTime.now.year
  /     Budget Available for this year of budget Allocated