.row
  .col-md-6
    .row.description
      %h3 Description
      = raw @task.description
    .row
      %h3 Uploaded Files
      - @task.attach_files.each do |file|
        .col-md-6
          =link_to file.read_attribute(:file), file.attach_url
        .col-md-4
          Size:
          = file.file_size
          KB
        %br/

  .col-md-4.col-md-offset-1
    .row
      %h3 Site Code : 
      %h5= @task.project.site_code
    .row
      %h3 Name
      %h5= @task.name
    .row
      %h3 Owner
      %h5= @task.owner_name
    .row
      %h3 Duration
      %h5= @task.duration
    .row
      %h3 Start Date
      %h5= @task.start_date.strftime("%d/%m/%Y")
    .row
      %h3 Due Date
      %h5= @task.end_date.strftime("%d/%m/%Y")
.row
  .col-md-2.col-md-offset-3
    = link_to "Edit", edit_task_path(@task), class: 'btn btn-primary col-md-10', :"data-no-turbolink"=>true    
  .col-md-2
    = link_to "Cancel", tasks_path, class: 'btn btn-default col-md-10'
%br/


:javascript
  $(".description img").each(function(){
    parent = $(this).parent();
    src = $(this).attr("src");
    link = "<a href="+src+" target='_blank'><img width='100' height='100' src='"+src+"'></a>"
    parent.append(link);
    $(this).remove();
  })