= form_for @article, html:{class: "form-horizontal"} do |f|
  = f.hidden_field :project_id, {value:params[:pid]}
  - f.object.errors.messages.each do |msg|
    .alert.alert-error= msg.join(' is ')
  
  .row
    .col-md-8
      .form-group
        .col-md-4
          %label Site Code:
        .col-md-4
          - if f.object.project_id.present?
            %label= f.object.project.site_code
          - else
            = f.select :project_id, options_from_collection_for_select(current_user.live_projects.all, :id, :site_code, selected:params[:pid]), {}, {class: 'form-control'}
      .form-group
        .col-md-4
          %label *Article Name
        .col-md-4
          = f.text_field :name, required: true, autofocus: true, placeholder: "", class: 'form-control'
      .form-group
        .col-md-4
          %label *Primary Keyword
        .col-md-4
          = f.text_field :pri_key, required: true, placeholder: "", class: 'form-control'
      .form-group
        .col-md-4
          %label *Second Keyword
        .col-md-4
          = f.text_field :sec_key, required: true, placeholder: "", class: 'form-control'
      .form-group
        .col-md-4
          %label LSI
        .col-md-4          
          = f.text_field :lsi, required: false, placeholder: "", class: 'form-control'
          
      
  .row
    .form-group
      .col-xs-3
        *Required fields
      .col-xs-2
        = f.submit "Save", class: 'btn btn-primary col-xs-8'
      .col-xs-offset-0.col-xs-2
        - if params[:pid].present? or @article.project.present?
          = link_to "Cancel", edit_individual_project_path(@article.project.present? ? @article.project.id.to_s : params[:pid] ) + "?article_page=1", class: 'btn btn-default col-xs-8'
        - else
          = link_to "Cancel", articles_path, class: 'btn btn-default col-xs-8'