.row
  .col-xs-4.text-center
    %h5 Idears
  .col-xs-4.text-center
    
  .col-xs-2
    = link_to "Add Article", new_article_path, class: 'btn btn-primary'
%br/
.row
  .col-xs-10
    .table-responsive
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Number
            %th Site Code
            %th Article Name
            %th Primary Article Keyword
            %th Secondary Article Keyword
            %th LSI
            %th Completed
            %th Manage
        %tbody
          - @articles.each_with_index do |article, i|
            %tr
              %td= i + 1
              %td= article.project.site_code
              %td= article.name
              %td= article.pri_key
              %td= article.sec_key
              %td= article.lsi
              %td
              %td
                = link_to(edit_article_path(article), class: 'btn-mini') do
                  %i.glyphicon.glyphicon-pencil
                = link_to(article_path(article), class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                  %i.glyphicon.glyphicon-trash 
        %tfoot
          %tr
            %td.digg_pagination{colspan:8}
              = will_paginate @articles, previous_label: '< PREV', next_label: 'NEXT >' if @articles.present?
%br/
.row
  .col-xs-10.text-center
    %h3 Future Keywords
  .col-xs-2    
    = link_to "Add Keyword", new_keyword_path, class: 'btn btn-primary'
%br/
.row
  .col-xs-12
    .table-responsive
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Pri Keyword
            %th Sec Keyword
            %th Pri Keyword Difficulty
            %th Sec Keyword Difficulty
            %th Pri Monthly Searches
            %th Sec Monthly Searches
            %th Mange
        %tbody
          - @keywords.each do |key|
            %tr
              %td= key.pri_key
              %td= key.sec_key
              %td= key.pri_key_difficult
              %td= key.sec_key_difficult
              %td= key.pri_key_monthly
              %td= key.sec_key_monthly
              %td
                = link_to(edit_keyword_path(key), class: 'btn-mini') do
                  %i.glyphicon.glyphicon-pencil
                = link_to(keyword_path(key), class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                  %i.glyphicon.glyphicon-trash 
        %tfoot
          %tr
            %td.digg_pagination{colspan:7}
              = will_paginate @keywords, previous_label: '< PREV', next_label: 'NEXT >' if @keywords.present?