= form_for @project, html:{class: "form-horizontal"} do |f|
  - f.object.errors.messages.each do |msg|
    .alert.alert-error= msg.join(' is ')
  
  .row
    .col-md-8.col-md-offset-3
      .form-group
        .col-md-2
          %label *Site Code
        .col-md-4
          = f.text_field :site_code, required: true, placeholder: "", class: 'form-control'
      .form-group
        .col-md-2
          %label *Year
        .col-md-4
          /= f.number_field :month, required: true, autofocus: true, placeholder: "", class: 'form-control'
          = select_year(Date.today, {add_month_numbers: true}, {class: "form-control", name: "init_project[year]"})
      .form-group
        .col-md-2
          %label *Month
        .col-md-4
          /= f.number_field :month, required: true, autofocus: true, placeholder: "", class: 'form-control'
          = select_month(Date.today, {add_month_numbers: true}, {class: "form-control", name: "init_project[month]"})
      .form-group
        .col-md-2
          %label Budget
        .col-md-4
          = f.number_field :budget, required: false, placeholder: "", class: 'form-control'
      .form-group
        .col-md-2
          %label Income
        .col-md-4
          = f.number_field :budget, required: false, placeholder: "", class: 'form-control'
      .form-group
        .col-md-2
          %label Order
        .col-md-4
          = f.number_field :budget, required: false, placeholder: "", class: 'form-control'
      
  .row    
    .form-group
      .col-md-2.col-md-offset-3
        *Required fields
      .col-md-4
        = f.submit "Save", class: 'btn btn-primary col-xs-2'
        = link_to "Cancel", init_projects_path, class: 'btn btn-default col-xs-2 col-xs-offset-1'
