.row.init-projects  
  .row
    .col-md-8
      %h1.form-title CSV Upload Logs
    .col-md-4{style: 'margin-top: 30px;'}
      /= link_to "New Value", new_init_project_path, class: 'btn btn-primary'
      = link_to "Import CSV", "#", class:"btn btn-primary", :"data-toggle" => "modal", :"data-target" => "#modal_csv_to_project"
  .col-md-10
    .row
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Uploaded Table Name
            %th Uploaded date
            %th Contents            
        %tbody
          - @init_projects.each do |init_proj|
            %tr
              %td= init_proj.created_at.strftime("%d/%m/%Y %H:%M:%S")
              %td= init_proj.table_name
              %td= init_proj.content
        %tfoot
          %tr
            %td.digg_pagination{colspan:3}
              = will_paginate @init_projects, previous_label: '< PREV', next_label: 'NEXT >' if @init_projects.present?


#modal_csv_to_project.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = form_for :init_project, url: projects_import_csv_path, method: :post, remote: false, html:{class: "form-horizontal import-csv-project"} do |f|
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Import CSV
        .modal-body.form-horizontal
          .container
            .col-sm-5
              %fieldset
                .form-group
                  %label.col-sm-4.control-label{for: "title"} Table Name
                  .col-sm-8
                    = select_tag :table, options_for_select(InitProject::IMPORT_TABLES.map{|tt| [tt.capitalize, tt]}), name: "init_project[table]"
                .form-group
                  %label.col-sm-4.control-label{for: "title"} Year
                  .col-sm-8
                    = select_year(Date.today, {add_month_numbers: true}, {class: "form-control", name: "init_project[year]"})
                .form-group
                  %label.col-sm-4.control-label{for: "description"}  CSV file content
                  .col-sm-8
                    = f.file_field :csv_file, class: "form-control"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit "Import", class: 'btn btn-primary'
  