.row.future-projects  
  .row
    .col-md-6
      %h1.form-title Users
    .col-md-4
      
    .col-md-1
      /= link_to "New Project", new_project_path, class: 'btn btn-primary', style: "margin-top: 32px;", :"data-no-turbolink"=>true
  .col-md-10
    .row
      %table.table.table-hover.table-condensed.table-bordered.table-striped.project-list
        %thead
          %tr
            %th{style:'width: 30%'} Name
            %th{style:'width: 5%'} Code
            %th{style:'width: 10%'} Type
            %th{style:'width: 10%'} Monistation
            %th{style:'width: 5%'} Total Budget
            %th{style:'width: 5%'} DueDate
            %th{style:'width: 5%'} Mange
        %tbody
          - @projects.each do |p|
            %tr
              %td
                = link_to p.name, project_path(p)
              %td= p.site_code
              %td= p.type_name
              %td= p.monetisation_name
              %td= p.budget
              %td= p.end_date.strftime("%d/%m/%Y") if p.end_date.present?
              %td
                = link_to(make_live_path(p), class: 'btn-mini', title:'Make Project Live') do
                  %i.glyphicon.glyphicon-exclamation-sign
                = link_to(edit_project_path(p), class: 'btn-mini', title:'Edit', :"data-no-turbolink"=>true) do
                  %i.glyphicon.glyphicon-pencil
                = link_to(project_path(p), class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}, title:'Delete') do
                  %i.glyphicon.glyphicon-trash
                

        %tfoot
          %tr
            %td.digg_pagination{colspan:6}
              = will_paginate @projects, previous_label: '< PREV', next_label: 'NEXT >' if @projects.present?
  .col-md-2
    %label 
      = DateTime.now.year
      Budget Available for this year of budget Allocated