.row
  .col-md-offset-4.col-md-4.pricing-border-form
    %h2.form-title 
      Bluadmin 
      %br/ 
      Monthly Subscription
    = form_tag(user_purchase_path, remote: true, id:'checkout_form', class:'form-horizontal') do |f|
      = javascript_include_tag "https://js.stripe.com/v2/"
      = hidden_field_tag :user_id, @user.id.to_s
      %span.payment-errors{style:'background: none repeat scroll 0 0 #FF0000;border-radius: 3px;color: #FFFFFF;'}
      .col-md-12
        %fieldset
          .form-group
            %label.control-label{"label-default" => ""} Email
            .controls
              .row
                .col-md-10
                  %input.card-numbers.form-control{autocomplete: "off", required: true, title: "Card number", type: "text", value: @user.email}/

          .form-group
            %label.control-label{"label-default" => ""} Card Number
            .controls
              .row
                .col-md-10
                  %input.card-numbers.form-control{autocomplete: "off", required: true, title: "Card number", type: "text", :"data-stripe"=>"number"}/

          .form-group
            %label.control-label{"label-default" => ""} Card Expiry Date
            .controls
              .row
                .col-md-4
                  %select.form-control{name: "exp_month", :"data-stripe" => "exp-month"}
                    %option{value: "01"} January
                    %option{value: "02"} February
                    %option{value: "03"} March
                    %option{value: "04"} April
                    %option{value: "05"} May
                    %option{value: "06"} June
                    %option{value: "07"} July
                    %option{value: "08"} August
                    %option{value: "09"} September
                    %option{value: "10"} October
                    %option{value: "11"} November
                    %option{value: "12"} December
                .col-md-3{style:'padding:0px;'}
                  = select_year(Date.today, {start_year: Date.today.year-3, end_year: Date.today.year+8}, {class:'form-control', :"data-stripe" => "exp-year", name: "exp_year"})
                .col-md-3
                  %input.form-control{autocomplete: "off", maxlength: "4", pattern: "\\d{4}", required: "", title: "Three digits at back of your card", type: "text", :"data-stripe" => "cvc", name:'cvc_number', placeholder: "CVC"}/
          .form-group
            .col-md-offset-2.col-md-3
              %button#basic_info_save_btn.btn.btn-success{type: "submit"} 
                Pay
                = "$" + @member_price.to_s