
  / var progresspump = setInterval(function(){
  /   $.get("/user/money_converting", function(data){
  /     data = data.success;
  /     $(".progress").css('width',data+'%');
  /     $(".progress").html(data+'%');
  /     if(data > 99.999) {
  /       clearInterval(progresspump);
  /       $(".progressouter").removeClass("active");
  /       $(".progress").html("Done");
  /     }
  /   })
  / }, 500);
