= form_for @user, url: user_update_path, remote: true, html:{class: "form-horizontal basic-info-form user-setting-form"} do |f|
  .row
    .col-xs-6.col-sm-6.col-md-6
      .block
        %h4 Basic Info
        .line
        .row
          .col-xs-3.col-sm-3.col-md-3
            %h5 First Name
          .col-xs-4.col-sm-4.col-md-4
            = f.text_field :first_name, required: true, autofocus: true, placeholder: "First Name", class: 'form-control'
        .blank
        .row
          .col-xs-3.col-sm-3.col-md-3
            %h5 Last Name
          .col-xs-4.col-sm-4.col-md-4
            = f.text_field :last_name, placeholder: "Last Name", class: 'form-control'
        .blank
        .row
          .col-xs-3.col-sm-3.col-md-3
            %h5 E-mail Address
          .col-xs-4.col-sm-4.col-md-4
            = f.text_field :email, required: true, placeholder: "xxx@xxx.com", class: 'form-control'
        .blank
        .row
          .col-xs-3.col-sm-3.col-md-3
          .col-xs-4.col-sm-4.col-md-4
            %button#basic_info_save_btn.btn.btn-default{type: "submit"} Save
        = hidden_field_tag :state, '0'
/ = form_for @user, url: user_update_path, html:{class: "form-horizontal user-invite-form"} do |f|
/   .row
/     .col-xs-6.col-sm-6.col-md-6
/       .block
/         %h3 Friends Who Can Access My Stuff
/         .line
/         .row
/           .col-xs-6.col-sm-6.col-md-6
/             .table-responsive
/               %table.table.table-striped
/                 %tbody
/                   %tr
/                     %td mike@example.com
/                     %td
/                       %a{href: "#"} remove
/                   %tr
/                     %td terri@example.com
/                     %td
/                       %a{href: "#"} remove
/                   %tr
/                     %td short774@hotmail.com
/                     %td
/                       %a{href: "#"} remove
/         .row
/           .col-xs-3.col-sm-3.col-md-3
/             %h5 Invite a person:
/           .col-xs-3.col-sm-3.col-md-3
/             %input.form-control{placeholder: "msmith@whatever.com", type: "text"}/
/           .col-xs-3.col-sm-3.col-md-3
/             %button.btn.btn-default{type: "submit"} Invite
= form_for @user, url: user_update_path, remote: true, html:{class: "form-horizontal change-password-form user-setting-form"} do |f|
  .row
    .col-xs-6.col-sm-6.col-md-6
      .block
        %h4 Change My Password
        .line
        .row
          .col-xs-3.col-sm-3.col-md-3
            %h5 Current Password
          .col-xs-4.col-sm-4.col-md-4
            = f.password_field :cur_password, required: true, placeholder: "********", class: 'form-control'
        .row
          .col-xs-3.col-sm-3.col-md-3
            %h5 New Password
          .col-xs-4.col-sm-4.col-md-4
            = f.password_field :password, required: true, placeholder: "********", class: 'form-control'
        .blank
        .row
          .col-xs-3.col-sm-3.col-md-3
            %h5 Re-type Password
          .col-xs-4.col-sm-4.col-md-4
            = f.password_field :password_confirmation, required: true, placeholder: "********", class: 'form-control'
        .blank
        .row
          .col-xs-3.col-sm-3.col-md-3
          .col-xs-4.col-sm-4.col-md-4
            %button.btn.btn-default{type: "submit"} Change
        = hidden_field_tag :state, '1'
= form_for @user, url: user_update_path, remote: true, html:{class: "form-horizontal account-change-form user-setting-form"} do |f|
  .row
    .col-xs-6.col-sm-6.col-md-6
      .block
        %h4 My Account
        .line
        %div MyWebApp Plus.  $49 per month.  Up to 5 Super Cool Thingies.
        %div Unlimited This, Unlimited That, Unlimited The Other.
        %div          
          = link_to "Close Your Account", users_destroy_path, data:{confirm:"Are you sure?"}, method: :delete

.row
  .col-xs-6.col-sm-6.col-md-6
    .block
      %h4 Credit Card
      .line
      %form.form-horizontal{role: "form"}
        .form-group
          %label.col-xs-4.col-sm-4.col-md-4 Type
          .col-xs-8.col-sm-8.col-md-8
            = image_tag "card_type.png"
        .form-group
          %label.col-xs-4.col-sm-4.col-md-4 Name on Card
          .col-xs-8.col-sm-8.col-md-8= @user.payment_profile.present? ? @user.payment_profile.first_name : ''
        .form-group
          %label.col-xs-4.col-sm-4.col-md-4 Credit Card Number
          .col-xs-8.col-sm-8.col-md-8 
            ************
            = @user.payment_profile.present? ? @user.payment_profile.ccard_last4 : ''
        .form-group
          %label.col-xs-4.col-sm-4.col-md-4 Expiration Date
          .col-xs-8.col-sm-8.col-md-8 
            = @user.payment_profile.present? ? @user.payment_profile.exp_month : ''
            %span /
            = @user.payment_profile.present? ? @user.payment_profile.exp_year : ''
        .form-group
          .col-xs-2.col-xs-offset-4
            = link_to "Edit", "#", class:"btn btn-default col-xs-12", :"data-toggle"=>"modal", :"data-target"=>"#modal_credit_card"
          
= form_for @user, url: user_update_path, remote: true, html:{class: "form-horizontal other-setting-form user-setting-form"} do |f|
  .row
    .col-xs-6.col-sm-6.col-md-6
      .block
        %h4 Other Settings
        .line
        .row
          .col-xs-4.col-sm-4.col-md-4
            %h5 Start of Financial Year
          .col-xs-4.col-sm-4.col-md-4
            #start.input-group.date
              = f.text_field :start_financial_year, value:f.object.start_financial_year.present? ? f.object.start_financial_year.strftime("%d/%m/%Y") : "", class: 'form-control'
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
        .blank
        .row
          .col-xs-4.col-sm-4.col-md-4
            %h5 End of Financial Year
          .col-xs-4.col-sm-4.col-md-4
            #stop.input-group.date
              = f.text_field :end_financial_year, value: f.object.end_financial_year.present? ? f.object.end_financial_year.strftime("%d/%m/%Y") : "", class: 'form-control'
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
        .blank
        .row
          .col-xs-4.col-sm-4.col-md-4
            %h5 Default Currency
          .col-xs-4.col-sm-4.col-md-4
            - if f.object.default_currency.present?
              = Payment::CURRENCY_TYPES[f.object.default_currency]
              = f.hidden_field :default_currency
            - else              
              = f.select :default_currency, options_for_select(Payment::CURRENCY_TYPES.map{|ct| [ct, Payment::CURRENCY_TYPES.index(ct)]}, f.object.default_currency.present? ? f.object.default_currency : '' ), {include_blank: true}, {class: 'form-control'}
            
        .blank
        .row
          .col-xs-4.col-sm-4.col-md-4
            %h5 Yearly Income Target
          .col-xs-4.col-sm-4.col-md-4
            = f.text_field :income_target, placeholder: "", class: 'form-control'
        .blank
        .row
          .col-xs-4.col-sm-4.col-md-4
            %h5 
              ="#{Time.now.year} Budget"
          .col-xs-4.col-sm-4.col-md-4
            = f.text_field :year_budget, placeholder: "", class: 'form-control'
        .blank
        .row
          .col-xs-4.col-sm-4.col-md-4
            %h5 Send me alerts
          .col-xs-4.col-sm-4.col-md-4
            = f.select :send_me_alert, options_for_select(User::SEND_ME_ALERT_TYPES.map{|at| [at, User::SEND_ME_ALERT_TYPES.index(at)]}, f.object.send_me_alert.present? ? f.object.send_me_alert : ''), {include_blank: true}, {class: 'form-control'}
        = hidden_field_tag :state, '2'
        .row
          .col-xs-3.col-sm-3.col-md-3.col-sm-offset-1          
            %button.btn.btn-default{type: "button", :onclick=>'$(".other-setting-form").submit();'} Update
.row
  .col-md-6
    .block
      %h5 
        = "File Upload Limit is#{current_user.file_limit}Mb and You have used #{@uploaded_file}Mb"
      .line
      = progress_bar(@upload_state, :color => 'blue', :rounded => true, class: 'test-progress')

#modal_credit_card.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Add Credit Card
      .modal-body.form-horizontal
        = form_tag(users_add_card_path, remote: true, id:'checkout_form', class:'form-horizontal') do |f|
          = javascript_include_tag "https://js.stripe.com/v2/"
          .container{style:'width:100%;'}
            %span.payment-errors{style:'color: red;font-weight: 600;'}
            .col-sm-12
              %fieldset
                .control-group
                  %label.control-label{"label-default" => ""} Card Holder's Name
                  .controls
                    %input.form-control{pattern: "\\w+ \\w+.*", required: "", title: "First and last name", type: "text", name: "card_user_name"}/
                .control-group
                  %label.control-label{"label-default" => ""} Card Number
                  .controls
                    .row
                      .col-md-3
                        %input.card-numbers.form-control{autocomplete: "off", maxlength: "4", pattern: "\\d{4}", required: "", title: "First four digits", type: "text"}/
                      .col-md-3
                        %input.card-numbers.form-control{autocomplete: "off", maxlength: "4", pattern: "\\d{4}", required: "", title: "Second four digits", type: "text"}/
                      .col-md-3
                        %input.card-numbers.form-control{autocomplete: "off", maxlength: "4", pattern: "\\d{4}", required: "", title: "Third four digits", type: "text"}/
                      .col-md-3
                        %input.card-numbers.form-control{autocomplete: "off", maxlength: "4", pattern: "\\d{4}", required: "", title: "Fourth four digits", type: "text"}/
                    %input#card_number{:type=>"hidden", :"data-stripe"=>"number"}
                .control-group
                  %label.control-label{"label-default" => ""} Card Expiry Date
                  .controls
                    .row
                      .col-md-9
                        %select.form-control{name: "exp_month", :"data-stripe" => "exp-month"}
                          %option{value: "01"} January
                          %option{value: "02"} February
                          %option{value: "03"} March
                          %option{value: "04"} April
                          %option{value: "05"} May
                          %option{value: "06"} June
                          %option{value: "07"} July
                          %option{value: "08"} August
                          %option{value: "09"} September
                          %option{value: "10"} October
                          %option{value: "11"} November
                          %option{value: "12"} December
                      .col-md-3
                        = select_year(Date.today, {start_year: Date.today.year-3, end_year: Date.today.year+8}, {class:'form-control', :"data-stripe" => "exp-year", name: "exp_year"})
                .control-group
                  %label.control-label{"label-default" => ""} Card CVV
                  .controls
                    .row
                      .col-md-3
                        %input.form-control{autocomplete: "off", maxlength: "4", pattern: "\\d{4}", required: "", title: "Three digits at back of your card", type: "text", :"data-stripe" => "cvc", name:'cvc_number'}/
                      .col-md-8
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %button#update_card.btn.btn-primary.update{type: "button"} Update

:css
  .bar_container{
    border-radius: 5px;
    padding: 5px 0;
  }
  .bar_container .bar_mortice{
    margin-top: -5px;
  }
  .bar_container .bar_mortice .progress{
    text-align: center;
  }

:javascript
  $(".card-numbers").change(function(){
    card_num = $(".card-numbers").eq(0).val() + $(".card-numbers").eq(1).val() + $(".card-numbers").eq(2).val() + $(".card-numbers").eq(3).val()
    $("#card_number").val(card_num)
  });
  
  $("#update_card").click(function(){
    $("#checkout_form").submit();
  });

  $(".user-setting-form").on('ajax:success',function(event, data, status, xhr){
    if(data.success){
      alert(data.success);
    }else{
      alert(data.failure);
    }
  });


