%br/
%br/
%br/
%br/
.row
  .col-md-4
    %label Lorem ipsum dolor sit amet, cum cuiisque adipisci reprimique, nominavi percipitur has ne. Duis mangna pericula ut usu. Eu dicant Vulputate comprehensam eum, ius cibo
    %br/
    %br/
    %label Lorem ipsum dolor sit amet, cum cuiisque adipisci reprimique, nominavi percipitur has ne. Duis mangna pericula ut usu. Eu dicant Vulputate comprehensam eum, ius cibo
    %br/
    %br/
    %label Lorem ipsum dolor sit amet, cum cuiisque adipisci reprimique, nominavi percipitur has ne. Duis mangna pericula ut usu. Eu dicant Vulputate comprehensam eum, ius cibo
    %br/
    %br/
    %label Lorem ipsum dolor sit amet, cum cuiisque adipisci reprimique, nominavi percipitur has ne. Duis mangna pericula ut usu. Eu dicant Vulputate comprehensam eum, ius cibo
  .col-md-8
    .about-img-box{style:'border: solid 3px #ddd;background-color: #eee;border-radius: 10px;'}
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      