.row
  .col-md-6.col-md-offset-3
    %h1.form-title Contact US
    .row
      = form_for :contact, url: home_contact_path, html:{class: "form-horizontal"} do |f|
        .form-group
          .col-sm-8.col-sm-offset-2            
            = text_field_tag :name, nil, required: true, placeholder: 'Name', class: 'form-control'
        .form-group
          .col-sm-8.col-sm-offset-2            
            = email_field_tag :email, nil, required: true, placeholder: 'Email', class: 'form-control'
        .form-group
          .col-sm-8.col-sm-offset-2
            = captcha_tag
        .form-group
          .col-sm-8.col-sm-offset-2            
            = text_field_tag :captcha
        .form-group
          .col-sm-8.col-sm-offset-2            
            = text_area_tag :text, nil, required: true, class: "form-control"
        
        .form-group
          .col-sm-offset-2.col-sm-10
            %button.btn.btn-default{type: "submit"} Send


:css
  .contact{background-color: #444;}