.row
  .col-md-9
    .row
      .panel.hello-panel
        %h4 The Most Amazing Web App You've Ever Seen
        %label Lerem ipsum dolor sit amet, consectetr adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolare magna aliqua. Ut enim ad minim veniam, quis nostrud exerctation ullamco laoris nisi ut aliquip ex ea commodo consequat.
    .row
      .row
        .col-md-6
          .panel.hello-panel{style:'height: 142px;'}
            %h4 Consectetur Adipisicing Elit
            %label Excepteur sint sccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %br/
            %br/
            %br/
            %br/
            %br/
            %br/
        .col-md-6
          .panel.hello-panel
            %br/
            %br/
            %br/
            %br/
            %br/
      .row
        .col-md-6
          .panel.hello-panel{style:'height: 142px;'}
            %label Ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate belit esse cillum dolore.
            %br/
            %br/
            %br/
            %br/
            %br/
            %br/
        .col-md-6
          .panel.hello-panel
            %br/
            %br/
            %br/
            %br/
            %br/
      .row
        .col-md-6
          .panel.hello-panel{style:'height: 142px;'}
            %label Ea commodo consequat. Duis aute irure dolor in reprehenderit in valuptate velit esse cillum dolore.
            %br/
            %br/
            %br/
        .col-md-6
          .panel.hello-panel
            %br/
            %br/
            %br/
            %br/
            %br/
    .row
      .col-md-offset-6.col-md-3
        %label 
          See the 
          = link_to "FAQ", "#"
          or 
          = link_to "Sign up now", new_user_session_path
  %br/
  %br/
  %br/
  %br/
  %br/
  .col-md-3
    .row
      = link_to "Sign up Now", new_registration_path(resource_name), class: 'btn btn-danger col-md-12', :"data-no-turbolink"=>true
    %br/
    %br/    
    .row
      .sign-up-now-box{style:"border: 2px solid #ddd;border-radius: 10px;height: 200px;width: 100%;"}
