.row
  - if current_user.present?
    .row
      .row
        .col-md-12
          .row
            - if Option.option_value(current_user, :all_site_profit)
              #chart1.col-md-4
              = high_chart("chart1", @chart1)
            - if Option.option_value(current_user, :top_earning)
              #chart2.col-md-4
              = high_chart("chart2", @chart2)
            - if Option.option_value(current_user, :all_site_expenses)
              #chart3.col-md-4
              = high_chart("chart3", @chart3)
            - if Option.option_value(current_user, :monthly_income_monthly_target)
              #chart4.col-md-4
              = high_chart("chart4", @chart4)
            - if Option.option_value(current_user, :last_year_current_year)
              #chart5.col-md-4
              = high_chart("chart5", @chart5)
            - if Option.option_value(current_user, :top_expenses)
              #chart6.col-md-4
              = high_chart("chart6", @chart6)
          .blank
          .row
            .col-xs-4.col-sm-4.col-md-4              
              = link_to "Edit Dashboard Charts", "#", class:"btn btn-default", :"data-toggle" => "modal", :"data-target" => "#modal_edit_dashboard_charts"
            .col-xs-8.col-sm-8.col-md-8
              %h3 Project Summary
        
      .blank
      .row
        .col-md-8
          .table-responsive
            %table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th{style:'width: 40%'} Name
                  %th{style:'width: 5%'} SiteCode
                  %th{style:'width: 5%'} Profit/Loss
                  %th{style:'width: 5%'} Monthly Avg
                  %th{style:'width: 5%'} Monthly Target
                  /%th{style:'width: 5%'} Prjctd
                  %th{style:'width: 5%'} Total Budget
                  %th{style:'width: 5%'} Mange
              %tbody
                - @projects.each do |p|
                  - if p.profit_loss > 0 
                    %tr
                      %td{style:'background-color: green;color: white;'}= link_to p.name, project_path(p), style:'color: white;'
                      %td{style:'background-color: green;color: white;'}= p.site_code
                      %td{style:'background-color: green;color: white;'}
                        = "#{current_user.currency_symbol}#{p.profit_loss}"
                      %td{style:'background-color: green;color: white;'}
                        = "#{current_user.currency_symbol}#{(p.yearly_income(Time.now.year) / 12).round(2)}"
                      %td{style:'background-color: green;color: white;'}
                        = "#{current_user.currency_symbol}#{p.monthly_target}"
                      %td{style:'background-color: green;color: white;'}
                        = "#{current_user.currency_symbol}#{p.budget}"
                      %td
                        = link_to(edit_individual_project_path(p), class: 'btn-mini') do
                          %i.glyphicon.glyphicon-pencil
                        = link_to(individual_project_path(p), class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                          %i.glyphicon.glyphicon-trash
                  - else
                    %tr
                      %td{style:'background-color: red;color: white;'}= link_to p.name, project_path(p), style:'color: white;'
                      %td{style:'background-color: red;color: white;'}= p.site_code
                      %td{style:'background-color: red;color: white;'}= p.profit_loss
                      %td{style:'background-color: red;color: white;'}= (p.yearly_income(Time.now.year) / 12).round(2)
                      %td{style:'background-color: red;color: white;'}= p.monthly_target
                      %td{style:'background-color: red;color: white;'}= p.budget
                      %td
                        = link_to(edit_individual_project_path(p), class: 'btn-mini') do
                          %i.glyphicon.glyphicon-pencil
                        = link_to(individual_project_path(p), class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                          %i.glyphicon.glyphicon-trash
              %tfoot
                %tr
                  %td.digg_pagination{colspan:7}
                    = will_paginate @projects, previous_label: '< PREV', next_label: 'NEXT >' if @projects.present?
        .col-md-4
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Name
                  %th Figure
              %tbody
                %tr
                  %td 
                    = Time.now.year
                    Budget
                  %td= "#{current_user.currency_symbol} #{current_user.year_budget}"
                %tr
                  %td Overall Spend
                  %td= "#{current_user.currency_symbol} #{current_user.expenses.amount_of_all.round(2)}"
                %tr
                  %td Profit
                  %td= "#{current_user.currency_symbol} #{current_user.projects.profit_loss_by_year Time.now.year}"
                %tr
                  %td This Months Expenses
                  %td= "#{current_user.currency_symbol} #{current_user.expenses.amount_of_month(Time.now.year, Time.now.month)}"
                %tr
                  %td This Month Profit
                  %td= "#{current_user.currency_symbol} #{ current_user.monthly_incomes.incomes_of_month(Time.now.year, Time.now.month) - current_user.expenses.amount_of_month(Time.now.year, Time.now.month)}"
                %tr
                  %td Overall Monthly Income Target
                  %td= "#{current_user.currency_symbol} #{current_user.monthly_incomes.incomes_of_month(Time.now.year, Time.now.month)}"
                %tr
                  %td Yearly Income Target
                  %td= "#{current_user.currency_symbol} #{current_user.income_target}"
                %tr
                  %td
                    = Time.now.year 
                    Income So Far
                  %td= "#{current_user.currency_symbol} #{current_user.monthly_incomes_sum}"

  - else
    .row
      .col-md-9{style:'background-color: #ddd;border-radius: 10px;padding: 20px;'}
        %h1 Hello
        %label This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information
        = link_to "Learn More", "#", class: "btn btn-primary"
        %br/
        %br/
        %br/
      .col-md-3
        .create-your-free-account-box{style:"height: 200px;border: solid 2px #ddd; border-radius: 10px;"}
          %h3.form-title 
            = link_to "Create your Account", home_pricing_path
          = link_to "Sign up Now", home_pricing_path, class: 'btn btn-success col-xs-offset-3', :"data-no-turbolink"=>true, style:'margin-top: 40px;'
    %br/
    .row
      .col-md-9
        .row
          .col-md-6
            .video-box{style:'border: solid 2px #aaa; border-radius: 10px;background-color: #eee;'}
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              
          .col-md-6
            %label 
              SiteAdmin
              This tool was created to keep on top the many different projects you have running and to help you keep focus on earning money instead of spending time doing things manually. 
            %br/
            %label  
              We want you to spend time making money and not creating new spreadsheets. Track your future projects and make them into live projects once you are ready. Track your monthly income and monthly orders to know if your having successful month. 
            %br/
            %label
              Track is also has simple project management feature where you can mange your future and existing niche projects. 
            %br/
            %label
              Fed up of using spreadsheets to trakli your ideas and income ? 
            %br/
            %label
              Welcome to trakli! trakli helps you managing your ideas,articles,income and expenses in one unified portal. 
              %br/
              One simple portal to manage your projects,tasks and keywords 
            %label  
              We know time is money this why we created a simple portal to save you time and best of all to help manage your online business better.
      .col-md-3
        %label "The best way to do that thing"
        %label "Dead simple whatever"
        %br/
        %br/
        %br/
        %br/
        %label "My WebApp is awesome - fast and easy"

- if current_user.present?
  #modal_edit_dashboard_charts.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      = form_for Option.new, url: home_set_option_path, method: :post, remote: false, html:{class: "form-horizontal edit_dashboard_charts"} do |f|
        = hidden_field_tag :rest_to_default, 0
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title Edit Dashboard Charts
          .modal-body.form-horizontal
            .container
              .col-sm-5
                %fieldset
                  .form-group
                    .col-xs-offset-2.col-xs-10
                      .checkbox
                        %label                          
                          = check_box_tag "option[all_site_profit]", 'true', Option::option_value(current_user,"all_site_profit"), class: 'option-checkbox'
                          All Site Profit/Loss Chart
                          = hidden_field_tag "h_option[all_site_profit]", Option::option_value(current_user,"all_site_profit")
                  .form-group
                    .col-xs-offset-2.col-xs-10
                      .checkbox
                        %label
                          = check_box_tag "option[top_earning]", 'true', Option::option_value(current_user,"top_earning"), class: 'option-checkbox'
                          Top Earning Sites
                          = hidden_field_tag "h_option[top_earning]", Option::option_value(current_user,"top_earning")                          
                      
                  .form-group
                    .col-xs-offset-2.col-xs-10
                      .checkbox
                        %label
                          = check_box_tag "option[all_site_expenses]", 'true', Option::option_value(current_user,"all_site_expenses"), class: 'option-checkbox'
                          All Sites Expenses VS Earning
                          = hidden_field_tag "h_option[all_site_expenses]", Option::option_value(current_user,"all_site_expenses")
                          
                  .form-group
                    .col-xs-offset-2.col-xs-10
                      .checkbox
                        %label                          
                          = check_box_tag "option[monthly_income_monthly_target]", 'true', Option::option_value(current_user,"monthly_income_monthly_target"), class: 'option-checkbox'
                          Monthly Income VS Monthly Target
                          = hidden_field_tag "h_option[monthly_income_monthly_target]", Option::option_value(current_user,"monthly_income_monthly_target")
                      
                  .form-group
                    .col-xs-offset-2.col-xs-10
                      .checkbox
                        %label                          
                          = check_box_tag "option[last_year_current_year]", 'true', Option::option_value(current_user,"last_year_current_year"), class: 'option-checkbox'
                          Last Year VS Current Year
                          = hidden_field_tag "h_option[last_year_current_year]", Option::option_value(current_user,"last_year_current_year")
                  .form-group
                    .col-xs-offset-2.col-xs-10
                      .checkbox
                        %label
                          = check_box_tag "option[top_expenses]", 'true', Option::option_value(current_user,"top_expenses"), class: 'option-checkbox'                          
                          Top Expenses
                          = hidden_field_tag "h_option[top_expenses]", Option::option_value(current_user,"top_expenses")                          
          .modal-footer
            = f.submit "Apply", class: 'btn btn-primary'
            %button#rest_to_default_options.btn.btn-default{"data-dismiss" => "modal", type: "button"} Reset to Default



:javascript
  $(".option-checkbox").each(function(){
    $(this).click(function(){
      $("#h_"+$(this).attr("id")).val($(this).is(':checked'));
      $("#btn_save_merchang_list").removeClass("disabled").removeAttr("disabled");
    });
  });

  $("#rest_to_default_options").click(function(){
    $("#rest_to_default").val("1");
    $("#new_option").submit();
  });