.row.chose-package-page
  .col-md-3.text-center.panel
    %h2 Max(Trial)
    %h4 $19.99/month
    %h4.object FOR LARGE TEAMS
    .blank
    %h5
      Up to
      %strong 20 Super Cool Thingies
    %h5 Unlimited This
    %h5 Unlimited That
    %h5 Unlimited The Other
    = link_to "Choose", new_registration_path(resource_name)+'?member=large', class: 'btn btn-danger', :"data-no-turbolink"=>true
    %br/
    %br/
  .col-md-3.text-center.panel
    %h2 Premium
    %h4 $29.99/month
    %h4.object FOR MEDIUM TEAMS
    .blank
    %h5
      Up to
      %strong 10 Super Cool Thingies
    %h5 Unlimited This
    %h5 Unlimited That
    %h5 Unlimited The Other
    = link_to "Choose", new_registration_path(resource_name)+'?member=medium', class: 'btn btn-danger', :"data-no-turbolink"=>true
    %br/
    %br/
  .col-md-3.text-center.panel
    %h2 Plus
    %h4 $49/month
    %h4.object PERFECT FOR MOST
    .blank
    %h5
      Up to
      %strong 5 Super Cool Thingies
    %h5 Unlimited This
    %h5 Unlimited That
    %h5 Unlimited The Other
    = link_to "Choose", new_registration_path(resource_name)+'?member=most', class: 'btn btn-danger', :"data-no-turbolink"=>true
    %br/
    %br/
  .col-md-3.text-center.panel
    %h2 Individual
    %h4 $79/month
    %h4.object FOR ONE PERSON
    .blank
    %h5
      %strong 1 Super Cool Thingy
    %h5 Unlimited This
    %h5 Unlimited That
    %h5 Unlimited The Other
    = link_to "Choose", new_registration_path(resource_name)+'?member=person', class: 'btn btn-danger', :"data-no-turbolink"=>true
    %br/
    %br/
.blank
.blank
.blank
.row
  %h5
    Enterprises: Need more than 20 Super Cool Thingies?
    %a{href: "#"} Contact Sales
/ /.container

:css
  .pricing{background-color: #444}