
= form_for @project, html:{class: "form-horizontal basic-info-form user-setting-form"} do |f|
  - f.object.errors.messages.each do |msg|
    .alert.alert-error= msg.join(' is ')
  .row
    .col-md-4
      .form-group
        %label.control-label.col-md-4 *Project/Site Code
        .col-md-8
          = f.text_field :site_code, required: true, autofocus: true, maxlength: "3", class: 'form-control'
      .form-group
        %label.control-label.col-md-4 *Project/ Site Name
        .col-md-8
          = f.text_field :name, autofocus: false, required: true, placeholder: "Project Name", class: 'form-control'
      .form-group
        %label.control-label.col-md-4 Domain Name
        .col-md-8
          = f.text_field :domain, required: false, placeholder: "Domain URL", class: 'form-control', type: "url"
      .form-group
        %label.control-label.col-md-4 Start Date
        .col-md-8
          .input-group.date
            = f.text_field :start_date, value:f.object.start_date.present? ? f.object.start_date.strftime("%d/%m/%Y") : "", class: 'form-control', required: true
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
      .form-group
        %label.control-label.col-md-4 Due Date
        .col-md-8
          .input-group.date
            = f.text_field :end_date, value:f.object.end_date.present? ? f.object.end_date.strftime("%d/%m/%Y") : "", class: 'form-control', required: true
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
      .form-group
        %label.control-label.col-md-4 *Project Type
        .col-md-8
          = f.select :type, options_for_select(Project::project_types.map{|pt| [pt, pt]}, f.object.type.present? ? f.object.type : '' ), {include_blank: true}, {class: 'form-control', required: true}
          /= f.text_field :type, placeholder: "Project Type", class: 'form-control'
      / .form-group
      /   .col-md-4
      /     %label Number of Articles
      /   .col-md-4          
      /     = f.text_field :article, class: 'form-control'
      .form-group
        %label.control-label.col-md-4 *Moneistation
        .col-md-8
          = f.select :monetisation, options_for_select(Project::moneitions.map{|pt| [pt, pt]}, f.object.monetisation.present? ? f.object.monetisation : '' ), {include_blank: true}, {class: 'form-control', required: true}  
          /= f.text_field :monetisation, required: true, placeholder: "", class: 'form-control'
      .form-group
        %label.control-label.col-md-4 *Budget
        .col-md-5{style:'padding-right:0'}
          = f.text_field :amount_money, autofocus: false, required: true, placeholder: "", class: 'form-control'
        .col-md-3{style:'padding-left:0'}
          = select_tag :currency_type, options_for_select(Payment::CURRENCY_TYPES, selected: f.object.amount_money.present? ? f.object.amount_money.currency.iso_code : ''), {class: 'form-control', style:'padding-left:0; padding-right:0', name: 'project[currency_type]'}
      .form-group
        %label.control-label.col-md-4 Monthly Target
        .col-md-8
          = f.text_field :monthly_target, autofocus: false, required: false, placeholder: "", class: 'form-control'
    .col-md-7.col-md-offset-1
      .form-group          
        .col-md-10
          %label *Purpose of Site
          = f.text_area :description, cols: 55, rows: 5, class: 'tinymce'
      .form-group.attach-files-group
        %label Attach Documents
        .row.attached-files-box
          - f.object.attach_files.each do |file|
            .row{style:"margin-left: 20px;"}
              .col-md-6
                = hidden_field_tag :attach_files, file.id.to_s, name:"attach_files[]"
                %label.file-name= file.read_attribute(:file)
              .col-md-4
                = link_to "X", "javascript://", :"data-url" => attach_file_path(file), class: 'btn-sm btn-default'
        .row.attach-upload-form
          .col-md-6          
            = file_field_tag :attach_file, required:false, :onchange =>"validateFiles(this);"
          .col-md-4.upload-button-group{style:'display: none;'}
            = link_to "Upload", "javascript://", class: 'btn btn-primary btn-sm btn-file-upload-btn'
            = link_to "Cancel", "javascript://", class: 'btn btn-danger btn-sm btn-file-cancel-btn'

  .row
    .form-group
      .col-xs-offset-4.col-xs-2
        = f.submit "Save", class: 'btn btn-primary col-xs-8'
      .col-xs-offset-1.col-xs-2
        - if f.object.active == true
          = link_to "Cancel", individual_projects_path+"?fid=", class: 'btn btn-default col-xs-8 cancel-project-path'
        - else
          = link_to "Cancel", projects_path+"?fid=", class: 'btn btn-default col-xs-8 cancel-project-path'


:javascript
  function validateFiles(inputFile) {
    var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
    var extErrorMessage = "Please check the file extension list. You can upload only for this file extensions \ndoc, docx, dotx, xls, xlt, xlsx, xltx, pptx, pptm, potx, ppt, pot, pps, psx, sldx, pdf, jpg, jpeg, gif, png, ods, fods, odp, fodp, odg, fodg, csv";
    var allowedExtension = ["doc", "docx", "dotx", "xls", "xlt", "xlsx", "xltx", "pptx", "pptm", "potx", "ppt", "pot", "pps", "psx", "sldx", "pdf", "jpg",  "jpeg",  "gif",  "png", "BMP", "JPEG", "JPG", "PSD", "GIF", "TIF", "TIFF", "ods", "fods", "odp", "fodp", "odg", "fodg", "csv"]

   
    var extName;
    var maxFileSize = $(inputFile).data('max-file-size');
    var sizeExceeded = false;
    var extError = false;
   
    $.each(inputFile.files, function() {
      if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
      extName = this.name.split('.').pop();
      if ($.inArray(extName, allowedExtension) == -1) {extError=true;};      
    });

    if (sizeExceeded) {
      window.alert(maxExceededMessage);
      $(inputFile).val('');
    };
   
    if (extError) {
      window.alert(extErrorMessage);
      $(inputFile).val('');
    };

    if (!sizeExceeded && !extError){    
      $(".upload-button-group").show();
    }
  }

  $(".btn-file-upload-btn").click(function(){
    data = new FormData();
    jQuery.each($('#attach_file')[0].files, function(i, file) {
        data.append('file', file);
    });    
    $.ajax({
      url: '/attach_files',
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      type: 'POST',
      success: function(data){
        data = jQuery.parseJSON(data);
        row = '<div class="row" style="margin-left: 20px;"><div class="col-md-6"><input id="attach_files" type="hidden" value="'+data.id+'" name="attach_files[]"><label class="file-name">'+data.name+'</label></div><div class="col-md-4"><a href="javascript://" data-url="'+data.delete_url+'" class="btn btn-default btn-sm btn-file-close-btn">X</a></div></div>'
        $(row).appendTo(".attached-files-box");
        $(".upload-button-group").hide();
        $("#attach_file").val('');
        href = $(".cancel-task-path").attr('href')
        href = href +data.id+ ','
        $(".cancel-project-path").attr('href', href)
      },
      error:function(request, textStatus, errorThrown) {
        msg = JSON.parse(request.responseText)
        var message = (request.status == 422) ? msg.errors : "An unknown error occurred. Support has been contacted.";
        alert(message);
      }
    });
  });

  $(".btn-file-cancel-btn").click(function(){
    $(".upload-button-group").hide();
    $("#attach_file").val('');
  })


  $('.attached-files-box').on('click', '.btn-file-close-btn', function(){
    $.ajax({
      url: $(this).data("url"),
      data: 'data',
      type: 'DELETE',
      done: function(data){      
        $(this).parent().parent().remove();
      }      
    });
    $(this).parent().parent().remove();
  })
  