.row
  .col-md-6
    .row.description
      %h3 Purpose
      = raw @project.description
    .row
      %h3 Uploaded Files      
      - @project.attach_files.each do |file|
        .col-md-6
          =link_to file.read_attribute(:file), file.attach_url
        .col-md-4
          Size:
          = file.file_size
          KB
        %br/

  .col-md-4.col-md-offset-1
    .row
      %h3 Project/Site Code : 
      %h5= @project.site_code
    .row
      %h3 Project/Site Name
      %h5= @project.name
    .row
      %h3 Domain URL
      = link_to @project.domain, @project.domain
    .row
      %h3 Project Type
      %h5= @project.type
    .row
      %h3 Moneistation
      %h5= @project.monetisation
    .row
      %h3 Project Budget
      %h5
        = @project.amount_money.currency.symbol
        = @project.budget
    .row
      %h3 Start Date
      %h5= @project.start_date.present? ? @project.start_date.strftime("%d/%m/%Y") : ''
    .row
      %h3 Due Date
      %h5= @project.end_date.present? ? @project.end_date.strftime("%d/%m/%Y") : ''
.row
  .col-md-2.col-md-offset-3
    = link_to "Edit", edit_project_path(@project), class: 'btn btn-primary col-md-10', :"data-no-turbolink"=>true
  .col-md-2
    - if @project.active == true
      = link_to "Cancel", individual_projects_path, class: 'btn btn-default col-md-10'
    - else
      = link_to "Cancel", projects_path, class: 'btn btn-default col-md-10'
%br/

:javascript
  $(".description img").each(function(){
    parent = $(this).parent();
    src = $(this).attr("src");
    link = "<a href="+src+" target='_blank'><img width='100' height='100' src='"+src+"'></a>"
    parent.append(link);
    $(this).remove();
  })