.row
  .col-md-4.col-md-offset-4.login-form
    %h1.form-title Welcome
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .row
        = render "devise/shared/links"
        %br/
      .row
        = f.button :submit, "Login", class: 'btn btn-primary col-md-12'
      