= form_for @project, url: individual_projects_path, html:{class: "form-horizontal basic-info-form user-setting-form", :"data-validate" => "parsley"} do |f|
  - f.object.errors.messages.each do |msg|
    .alert.alert-error= msg.join(' is ')
  .row
    .col-md-4
      .form-group
        %label.control-label.col-md-4 Project/Site Code
        .col-md-8
          = f.text_field :site_code, required: true, autofocus: true, maxlength: "3", class: 'form-control'
      .form-group
        %label.control-label.col-md-4 *Project/ Site Name
        .col-md-8
          = f.text_field :name, autofocus: false, required: true, placeholder: "Project Name", class: 'form-control'
      .form-group
        %label.control-label.col-md-4 Domain Name
        .col-md-8
          = f.text_field :domain, required: false, placeholder: "Domain URL", class: 'form-control', type: "url"
          
      / .form-group
      /   %label.control-label.col-md-4 Start Date
      /   .col-md-8
      /     .input-group.date
      /       = f.text_field :start_date, value:f.object.start_date.present? ? f.object.start_date.strftime("%d/%m/%Y") : "", class: 'form-control'
      /       %span.input-group-addon
      /         %span.glyphicon.glyphicon-calendar
      / .form-group
      /   %label.control-label.col-md-4 Due Date
      /   .col-md-8
      /     .input-group.date
      /       = f.text_field :end_date, value:f.object.end_date.present? ? f.object.end_date.strftime("%d/%m/%Y") : "", class: 'form-control'
      /       %span.input-group-addon
      /         %span.glyphicon.glyphicon-calendar
      .form-group
        %label.control-label.col-md-4 *Project Type
        .col-md-8
          = f.select :type, options_for_select(Project::project_types.map{|pt| [pt, pt]}, f.object.type.present? ? f.object.type : '' ), {include_blank: true}, {class: 'form-control'}
          /= f.text_field :type, placeholder: "Project Type", class: 'form-control'
      / .form-group
      /   .col-md-4
      /     %label Number of Articles
      /   .col-md-4          
      /     = f.text_field :article, class: 'form-control'
      .form-group
        %label.control-label.col-md-4 *Moneistation
        .col-md-8
          = f.select :monetisation, options_for_select(Project::moneitions.map{|pt| [pt, pt]}, f.object.monetisation.present? ? f.object.monetisation : '' ), {include_blank: true}, {class: 'form-control'}  
          /= f.text_field :monetisation, required: true, placeholder: "", class: 'form-control'
      .form-group
        %label.control-label.col-md-4 *Budget
        .col-md-8
          = f.text_field :amount_money, autofocus: false, required: true, class: 'form-control', :"data-required"=>"true"
      .form-group
        %label.control-label.col-md-4 Monthly Target
        .col-md-8
          = f.text_field :monthly_target, autofocus: false, required: false, placeholder: "", class: 'form-control'
    .col-md-7.col-md-offset-1
      .form-group          
        .col-md-10
          %label *Purpose of Site
          = f.text_area :description, cols: 55, rows: 5, class: 'tinymce'
      .form-group          
        .col-md-10
          %label Attach Documents
          = f.file_field :attach

  .row
    .form-group
      .col-xs-offset-4.col-xs-2
        = f.submit "Save", class: 'btn btn-primary col-xs-8'
      .col-xs-offset-1.col-xs-2
        = link_to "Cancel", projects_path, class: 'btn btn-default col-xs-8'