#modal_add_time_spent.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = form_for @time_spent, url: individual_project_path, method: :patch, remote: true, html:{class: "form-horizontal edit_individual_project"} do |f|
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Add Time Spent
        .modal-body.form-horizontal          
          = hidden_field_tag :object, 0
          .container
            .col-sm-5
              %fieldset
                .form-group
                  %label.col-sm-4.control-label{for: "title"} *Title
                  .col-sm-8
                    = f.text_field :title, required: true, class: "form-control"
                .form-group
                  %label.col-sm-4.control-label{for: "title"} Which Year?
                  .col-sm-8
                    = select_year(Date.today, {}, {class: "form-control", name: "time_spent[year]"})
                .form-group
                  %label.col-sm-4.control-label{for: "title"} Which Month?
                  .col-sm-8
                    = select_month(Date.today, {add_month_numbers: true}, {class: "form-control", name: "time_spent[month]"})
                .form-group
                  %label.col-sm-4.control-label{for: "lastname"}  *Time Spent
                  .col-sm-8
                    = f.text_field :time, required: true, class: "form-control"
                .form-group
                  %label.col-sm-4.control-label{for: "owner"}  *Owner
                  .col-sm-8
                    = f.select :owner, options_from_collection_for_select(current_user.owners, "id", "name"), {prompt: "Select Owner"}, {class: 'form-control', required: true}
                .form-group
                  %label.col-sm-4.control-label{for: "description"}  Description
                  .col-sm-8
                    = f.text_area :description, class: "form-control"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit "Add", class: 'btn btn-primary'



#modal_add_monthly_order.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = form_for @monthly_order, url: individual_project_path, method: :patch, remote: true, html:{class: "form-horizontal edit_individual_project"} do |f|
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Monthly Orders
        .modal-body.form-horizontal          
          = hidden_field_tag :object, 1
          .container
            .col-sm-5
              %fieldset
                .form-group
                  %label.col-sm-4.control-label{for: "title"} Which Year?
                  .col-sm-8
                    = select_year(Date.today, {}, {class: "form-control", name: "order[year]"})
                .form-group
                  %label.col-sm-4.control-label{for: "title"} Which Month?
                  .col-sm-8
                    = select_month(Date.today, {add_month_numbers: true}, {class: "form-control", name: "order[month]"})
                .form-group
                  %label.col-sm-4.control-label{for: "monthly_order"}  Monthly Orders:
                  .col-sm-8
                    = text_field_tag :monthly_order, nil, class: "form-control", name: "order[order]"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit "Add", class: 'btn btn-primary'


#modal_add_monthly_income.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = form_for @monthly_income, url: individual_project_path, method: :patch, remote: true, html:{class: "form-horizontal edit_individual_project"} do |f|
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Monthly Income
        .modal-body.form-horizontal          
          = hidden_field_tag :object, 2
          .container
            .col-sm-5
              %fieldset
                .form-group
                  %label.col-sm-4.control-label{for: "title"} Which Year?
                  .col-sm-8
                    = select_year(Date.today, {}, {class: "form-control", name: "income[year]"})
                .form-group
                  %label.col-sm-4.control-label{for: "title"} Which Month?
                  .col-sm-8
                    = select_month(Date.today, {add_month_numbers: true}, {class: "form-control", name: "income[month]"})
                .form-group
                  %label.col-sm-4.control-label{for: "monthly_income"}  Monthly Income:
                  .col-sm-8
                    = text_field_tag :monthly_income, nil, class: "form-control", name: "income[income]"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit "Add", class: 'btn btn-primary'

/ #modal_add_monthly_income.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
/   .modal-dialog
/     = form_for Account.new, url: individual_project_path, method: :patch, remote: false, html:{class: "form-horizontal edit_individual_project"} do |f|
/       .modal-content
/         .modal-header
/           %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
/           %h4#myModalLabel.modal-title Account Information
/         .modal-body.form-horizontal          
/           = hidden_field_tag :object, 3
/           .container
/             .col-sm-5
/               %fieldset
/                 .form-group
/                   %label.col-sm-4.control-label{for: "title"} Which Month?
/                   .col-sm-8
/                     = select_month(Date.today, {add_month_numbers: true}, {class: "form-control"})
/                 .form-group
/                   %label.col-sm-4.control-label{for: "monthly_income"}  Monthly Income:
/                   .col-sm-8
/                     = text_field_tag :monthly_income, nil, class: "form-control"                
/         .modal-footer
/           %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
/           = f.submit "Add", class: 'btn btn-primary'


#modal_add_bulk_data.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = form_for :bulk_data, url: individual_project_path, method: :patch, remote: true, html:{class: "form-horizontal edit_individual_project"} do |f|
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Add BulkData
        .modal-body.form-horizontal          
          = hidden_field_tag :object, 4
          = hidden_field_tag :prj_id, @project.id.to_s
          .row.container-bulkdata{style:'margin: 0px;'}
            .col-sm-12
              %fieldset
                .form-group
                  %label.col-sm-4.control-label{for: "title"} Which Year?
                  .col-sm-8
                    = select_year(@year, {}, {class: "form-control bulk_data_year", name: "bulk_data[year]"})
                .form-group.bulk-data-table
                  %table.table.table-striped.table-bordered
                    %thead
                      %tr
                        %th Item
                        -Date::MONTHNAMES.reject{|m| m.nil?}.each do |m|
                          %th= m[0..2]
                    %tbody
                      - if @project.has_orders?
                        %tr
                          %td{style:'padding:0px;'} Orders
                          -Date::MONTHNAMES.reject{|m| m.nil?}.each do |m|
                            %td{style:'padding:0px;'}
                              = text_field_tag "bulk_order_#{m}", @project.monthly_orders.where(year:@year, month:Date::MONTHNAMES.index(m)).first.present? ? @project.monthly_orders.where(year:@year,month:Date::MONTHNAMES.index(m)).first.orders : "", style: "width:100%;", name:"bulk_orders[#{m.downcase}]"
                      %tr
                        %td{style:'padding:0px;'} Income
                        -Date::MONTHNAMES.reject{|m| m.nil?}.each do |m|
                          %td{style:'padding:0px;'}
                            = text_field_tag "bulk_income_#{m}", @project.monthly_incomes.where(year:@year,month:Date::MONTHNAMES.index(m)).first.present? ? @project.monthly_incomes.where(year:@year,month:Date::MONTHNAMES.index(m)).first.incomes : "", style: "width:100%;", name:"bulk_income[#{m.downcase}]"
                    
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit "Add", class: 'btn btn-primary'


:javascript
  
  $(".edit_individual_project").on('ajax:success',function(event, data, status, xhr){
    if(data.success){
      alert(data.success);
      prjid = $("#prj_id").val();
      year = $("#overview_year").val();
      url="/get_year_data";
      $.get(url, {prj_id:prjid, year:year}).done(function(data){
        $("#prj_overview_panel").children().remove()
        $("#prj_overview_panel").append(data)
      });
    }else{
      alert(data.failure)
    }
  });


  $(".bulk_data_year").change(function(){
    year = $(this).val();
    prjid = $("#prj_id").val();
    url="/get_year_bulk_data";
    $.get(url, {prj_id:prjid, year:year}).done(function(data){
      $(".bulk-data-table").children().remove()
      $(".bulk-data-table").append(data)
    });
  })

  $("#overview_year").change(function(){
    year = $(this).val();
    url = "#{edit_individual_project_path(@project)}" + "?year=" + year
    location.href = url
  })
