.container-fluid
  %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
    %li{class: (params[:spent_page].nil? and params[:task_page].nil? and params[:account_page].nil? and params[:article_page].nil? and params[:keyword_page].nil?) ? "active" : ""}
      %a{"data-toggle" => "tab", href: "#project_overview"} Project Overview
    %li{class: params[:account_page].present? ? "active" : ""}
      %a{href: edit_individual_project_path(@project) + "?account_page=1"} Accounts
    %li{class: (params[:article_page].present? or params[:keyword_page].present?) ? "active" : ""}
      %a{href: edit_individual_project_path(@project) + "?article_page=1"} Articles
    %li{class: params[:task_page].present? ? "active" : ""}
      %a{href: edit_individual_project_path(@project)+"?task_page=1"} Tasks
    %li{class: params[:spent_page].present? ? "active" : ""}
      %a{href: edit_individual_project_path(@project)+"?spent_page=1"} Time Tracking
    %li
      %a{"data-toggle" => "tab", href: "#detail_tab"} Project Details
  #my-tab-content.tab-content
    #project_overview.tab-pane{class: (params[:spent_page].nil? and params[:task_page].nil? and params[:account_page].nil? and params[:article_page].nil? and params[:keyword_page].nil?) ? "active" : ""}
      .row
        .col-xs-4.text-center
          %h5 
            Project Code ID :
            = @project.id
        .col-xs-2
          = select_year(params[:year].present? ? params[:year].to_i : Date.today, {:start_year => Date.today.year - 5, :end_year => Date.today.year + 3, selected: 2010}, {class: "form-control", id: "overview_year"})                    
          = hidden_field_tag :prj_id, @project.id
        .col-xs-4.text-center
          %h5= "SiteName: #{@project.name}" + " | " + "SiteCode: #{@project.site_code}"
      
      .row
        #prj_overview_panel.col-md-7
          .table-responsive{style:'overflow-x: scroll;'}
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Month
                  -Date::MONTHNAMES.reject{|m| m.nil?}.each do |m|
                    %th= m[0..2]
              %tbody
                %tr
                  %td Expenses
                  - (1..12).each do |m|
                    %td= @project.expenses.amount_of_month(@year, m) > 0 ? @project.expenses.amount_of_month(@year, m).round(2) : ''
                %tr
                  %td Time Tracking
                  - (1..12).each do |m|
                    %td=@project.time_spents.where(year:@year, month:m).first.present? ? @project.time_spents.where(year:@year,month:m).first.time : ""
                - if @project.has_orders?
                  %tr
                    %td *Monthly Orders
                    - (1..12).each do |m|
                      %td= @project.monthly_orders.where(year:@year, month:m).first.present? ? @project.monthly_orders.where(year:@year,month:m).first.orders : ""
                %tr
                  %td Monthly Income
                  - (1..12).each do |m|
                    %td= @project.monthly_incomes.where(year:@year,month:m).first.present? ? @project.monthly_incomes.where(year:@year,month:m).first.incomes : ""
        .col-md-5
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Name
                  %th Figures
              %tbody
                %tr
                  %td Total Expenses
                  %td= @project.expenses.amount_of_year(@year)
                %tr
                  %td Break Even Target
                  %td= @project.budget + @project.budget_of_expenses
                %tr
                  %td Avg Monthly Revenue
                  %td= (@project.yearly_income(@year) / 12.0).round(2)
                - if @project.has_orders?
                  %tr
                    %td *Avg Monthly Orders
                    %td= (@project.total_orders/12.0).round(2)
                %tr
                  %td *Total Income
                  %td= @project.yearly_income(@year)
      .row
        .col-md-8.text-center
          = link_to "Add Time Spent", "#", class:"btn btn-primary col-md-2", :"data-toggle" => "modal", :"data-target" => "#modal_add_time_spent", style:'min-width:126px;'
          = link_to "Add Orders", "#", class:"btn btn-primary col-md-2 col-md-offset-1", :"data-toggle" => "modal", :"data-target" => "#modal_add_monthly_order", style: "min-width: 100px;" if @project.has_orders?
          = link_to "Add Income", "#", class:"btn btn-primary col-md-2 col-md-offset-1", :"data-toggle" => "modal", :"data-target" => "#modal_add_monthly_income", style: "min-width: 100px;"
          = link_to "Add BulkData", "#", class:"btn btn-primary col-md-2 col-md-offset-1", :"data-toggle" => "modal", :"data-target" => "#modal_add_bulk_data", style: "min-width: 120px;"
        
      .blank
      .row
        .col-md-12
          .row
            #orders_vs_incomes.col-md-6
            = high_chart("orders_vs_incomes", @chart1)
            #time_spent.col-md-6
            = high_chart("time_spent", @chart2)

    #account_tab.tab-pane{class: params[:account_page].present? ? "active" : ""}
      %br/
      .row
        .col-xs-4.text-center
          %h5 
            Project Code ID :
            = @project.id
        .col-xs-6.text-center
          %h5= "SiteName: #{@project.name}" + " | " + "SiteCode: #{@project.site_code}"
        .col-xs-2
          = link_to "Add Account", new_account_path + '?pid=' + @project.id, class: 'btn btn-primary'
      %br/
      .row
        .col-xs-10
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Account Type
                  %th Account Username
                  %th Account Password
                  %th Social Account URL
                  %th Manage
              %tbody
                - @accounts.each do |account|
                  %tr
                    %td= account.type_name
                    %td= account.user_name
                    %td= account.encrypted_password
                    %td= account.url
                    %td
                      = link_to(edit_account_path(account) + "?pid=" + @project.id, class: 'btn-mini') do
                        %i.glyphicon.glyphicon-pencil
                      = link_to(account_path(account) + "?pid=" + @project.id, class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                        %i.glyphicon.glyphicon-trash 
              %tfoot
                %tr
                  %td.digg_pagination{colspan:5}
                    = will_paginate @accounts, previous_label: '< PREV', next_label: 'NEXT >', param_name: :account_page
    #article_tab.tab-pane{class: (params[:article_page].present? or params[:keyword_page].present?) ? "active" : ""}
      %br/
      .row
        .col-xs-4.text-center
          %h5 
            Project Code ID :
            = @project.id
        .col-xs-6.text-center
          %h5= "SiteName: #{@project.name}" + " | " + "SiteCode: #{@project.site_code}"
        .col-xs-2
          = link_to "Add Article", new_article_path + '?pid=' + @project.id, class: 'btn btn-primary'
      %br/
      .row
        .col-xs-10
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Number
                  %th Site Code
                  %th Article Name
                  %th Primary Article Keyword
                  %th Secondary Article Keyword
                  %th LSI
                  %th Completed
                  %th Manage
              %tbody
                - @articles.each_with_index do |article, i|
                  %tr
                    %td= i + 1
                    %td= article.project.site_code
                    %td= article.name
                    %td= article.pri_key
                    %td= article.sec_key
                    %td= article.lsi
                    %td
                    %td
                      = link_to(edit_article_path(article) + "?pid=" + @project.id, class: 'btn-mini') do
                        %i.glyphicon.glyphicon-pencil
                      = link_to(article_path(article) + "?pid=" + @project.id, class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                        %i.glyphicon.glyphicon-trash 
              %tfoot
                %tr
                  %td.digg_pagination{colspan:8}
                    = will_paginate @articles, previous_label: '< PREV', next_label: 'NEXT >', param_name: :article_page
      %br/
      .row
        .col-xs-10.text-center
          %h3 Future Keywords
        .col-xs-2
          = link_to "Add Keyword", new_keyword_path + '?pid=' + @project.id, class: 'btn btn-primary'
      %br/
      .row
        .col-xs-12
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Pri Keyword
                  %th Sec Keyword
                  %th Pri Keyword Difficulty
                  %th Sec Keyword Difficulty
                  %th Pri Monthly Searches
                  %th Sec Monthly Searches
                  %th Mange
              %tbody
                - @keywords.each do |key|
                  %tr
                    %td= key.pri_key
                    %td= key.sec_key
                    %td= key.pri_key_difficult
                    %td= key.sec_key_difficult
                    %td= key.pri_key_monthly
                    %td= key.sec_key_monthly
                    %td
                      = link_to(edit_keyword_path(key) + "?pid=" + @project.id, class: 'btn-mini') do
                        %i.glyphicon.glyphicon-pencil
                      = link_to(keyword_path(key) + "?pid=" + @project.id, class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                        %i.glyphicon.glyphicon-trash 
              %tfoot
                %tr
                  %td.digg_pagination{colspan:7}
                    = will_paginate @keywords, previous_label: '< PREV', next_label: 'NEXT >', param_name: :keyword_page
    #task_tab.tab-pane{class: params[:task_page].present? ? "active" : ""}
      %br/
      .row
        .col-xs-4.text-center
          %h5 
            Project Code ID :
            = @project.id
        .col-xs-6.text-center
          %h5= "SiteName: #{@project.name}" + " | " + "SiteCode: #{@project.site_code}"
        .col-xs-2
          = link_to "Add Task", new_task_path + '?pid=' + @project.id, class: 'btn btn-primary', :"data-no-turbolink"=>true
      %br/
      .row
        .col-xs-10
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Task Name
                  %th SiteCode
                  %th Duration
                  %th Start Date
                  %th End Date
                  %th Owner
                  %th Mange
              %tbody
                - @tasks.each do |task|
                  %tr                    
                    %td
                      = link_to task.name, task_path(task)
                    %td= task.project.site_code
                    %td= task.duration
                    %td= task.start_date.strftime("%d/%m/%Y")
                    %td= task.end_date.strftime("%d/%m/%Y")
                    %td= task.owner_name
                    %td
                      = link_to(edit_task_path(task) + "?pid=" + @project.id, class: 'btn-mini', :"data-no-turbolink"=>true) do
                        %i.glyphicon.glyphicon-pencil
                      = link_to(task_path(task) + "?pid=" + @project.id, class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                        %i.glyphicon.glyphicon-trash 
              %tfoot
                %tr
                  %td.digg_pagination{colspan:7}
                    = will_paginate @tasks, previous_label: '< PREV', next_label: 'NEXT >', param_name: :task_page
    #time_tracking.tab-pane{class: params[:spent_page].present? ? "active" : ""}
      %br/
      .row
        .col-xs-4.text-center
          %h5 
            Project Code ID :
            = @project.id
        .col-xs-6.text-center
          %h5= "SiteName: #{@project.name}" + " | " + "SiteCode: #{@project.site_code}"
      %br/
      .row
        .col-xs-10
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th SiteCode
                  %th Title
                  %th Time Spent
                  %th Description
              %tbody
                - @spents.each do |time|
                  %tr
                    %td= time.project.site_code
                    %td= time.title
                    %td= time.time
                    %td= time.description
              %tfoot
                %tr
                  %td.digg_pagination{colspan:4}
                    = will_paginate @spents, previous_label: '< PREV', next_label: 'NEXT >', param_name: :spent_page
    #detail_tab.tab-pane
      %br/
      .row
        .col-md-6
          .row
            %h3 Purpose
            = raw @project.description
          .row
            %h3 Uploaded Files      
            - @project.attach_files.each do |file|
              .col-md-6
                =link_to file.read_attribute(:file), file.attach_url
              .col-md-4
                Size:
                = file.file_size
                KB
              %br/

        .col-md-4.col-md-offset-1
          .row
            %h3 Project/Site Code : 
            %h5= @project.site_code
          .row
            %h3 Project/Site Name
            %h5= @project.name
          .row
            %h3 Domain URL
            = link_to @project.domain, @project.domain
          .row
            %h3 Project Type
            %h5= @project.type
          .row
            %h3 Moneistation
            %h5= @project.monetisation
          .row
            %h3 Project Budget
            %h5= @project.budget
          .row
            %h3 Start Date
            %h5= @project.start_date.present? ? @project.start_date.strftime("%d/%m/%Y") : ''
          .row
            %h3 Due Date
            %h5= @project.end_date.present? ? @project.end_date.strftime("%d/%m/%Y") : ''
      .row
        .col-md-2.col-md-offset-3
          = link_to "Edit", edit_project_path(@project), class: 'btn btn-primary col-md-10', :"data-no-turbolink"=>true
        .col-md-2
          = link_to "Cancel", individual_projects_path, class: 'btn btn-default col-md-10'
      %br/
        
/ /.container



= render "modal_box"


:javascript
  $(".task-checkbox").each(function(){
    $(this).click(function(){      
      $("#h_"+$(this).attr("id")).val($(this).is(':checked'));
      $("#btn_save_merchang_list").removeClass("disabled").removeAttr("disabled");
    });
  });
  
  $("#overview_year").change(function(){
    year = $(this).val();
    url = "#{edit_individual_project_path(@project)}" + "?year=" + year
    location.href = url    
  })
