.table-responsive{style:'overflow-x: scroll;'}
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Month
        -Date::MONTHNAMES.reject{|m| m.nil?}.each do |m|
          %th= m[0..2]
    %tbody
      %tr
        %td Expenses
        - (1..12).each do |m|
          - if @project.expenses.amount_of_month(@year, m) > 0
            %td= @project.expenses.amount_of_month(@year, m)
          - else
            %td &nbsp;            
      %tr
        %td Time Tracking
        - (1..12).each do |m|
          - time_spent = @project.time_spents.where(year:@year, month:m).first
          %td=time_spent.present? ? time_spent.time : ""
      
      - if @project.has_orders?
        %tr
          %td *Monthly Orders
          - (1..12).each do |m|
            - order = @project.monthly_orders.where(year:@year,month:m).first
            %td= order.present? ? order.orders : ""
          
      %tr
        %td Monthly Income
        - (1..12).each do |m|
          - income = @project.monthly_incomes.where(year:@year,month:m).first
          %td= income.present? ? income.incomes : ""
