.table-responsive{style:'overflow-x: scroll;'}
  %table.table.table-striped.table-bordered  
    %thead
      %tr
        %th Month
        -Date::MONTHNAMES.reject{|m| m.nil?}.each do |m|
          %th= m[0..2]
    %tbody
      - if @project.has_orders?
        %tr
          %td{style:'padding:0px;'} Orders
          - (1..12).each do |m|
            - order = @project.monthly_orders.where(year:@year,month:m).first
            %td{style:'padding:0px;'}
              = text_field_tag "bulk_order_#{m}", order.present? ? order.orders : "", style: "width:100%;", name:"bulk_orders[#{Date::MONTHNAMES[m].downcase}]"
      %tr
        %td{style:'padding:0px;'} Income
        - (1..12).each do |m|
          - income = @project.monthly_incomes.where(year:@year,month:m).first
          %td{style:'padding:0px;'}
            = text_field_tag "bulk_income_#{m}", income.present? ? income.incomes : "", style: "width:100%;", name:"bulk_income[#{Date::MONTHNAMES[m].downcase}]"