.row.future-projects
  .row
    .col-md-6
      %h1.form-title Individual Projects
    .col-md-2.pull-right
      = link_to "New Project", new_individual_project_path, class: 'btn btn-primary pull-right', style: "margin-top: 32px;", :"data-no-turbolink"=>true
  .row
    .col-md-12
      .row
      %table.table.table-hover.table-condensed.table-bordered.table-striped.project-list
        %thead
          %tr
            %th{style:'width: 20%'} Name
            %th{style:'width: 10%'} SiteCode
            %th{style:'width: 10%'} Profit/Loss
            %th{style:'width: 10%'} Monthly Avg
            %th{style:'width: 10%'} Monthly Target
            /%th{style:'width: 5%'} Prjctd
            %th{style:'width: 10%'} Total Budget
            %th{style:'width: 5%'} Mange
        %tbody
          - @projects.each do |p|
            - if p.profit_loss > 0
              %tr
                %td{style:'background-color:green;color:white'}= link_to p.name, project_path(p), style:'color:white'
                %td{style:'background-color:green;color:white'}= p.site_code
                %td{style:'background-color:green;color:white'}
                  = "#{current_user.currency_symbol}#{p.profit_loss.round(2)}"
                %td{style:'background-color:green;color:white'}
                  = "#{current_user.currency_symbol}#{(p.yearly_income(Time.now.year) / 12).round(2)}"
                %td{style:'background-color:green;color:white'}
                  = "#{current_user.currency_symbol}#{p.monthly_target}"
                %td{style:'background-color:green;color:white'}
                  = "#{current_user.currency_symbol}#{p.budget}"
                %td
                  = link_to(edit_individual_project_path(p), class: 'btn-mini') do
                    %i.glyphicon.glyphicon-pencil
                  = link_to(individual_project_path(p), class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                    %i.glyphicon.glyphicon-trash
            - else
              %tr
                %td{style:'background-color:red;color:white'}= link_to p.name, project_path(p), style: 'color:white'
                %td{style:'background-color:red;color:white'}= p.site_code
                %td{style:'background-color:red;color:white'}
                  = "#{current_user.currency_symbol}#{p.profit_loss.round(2)}"
                %td{style:'background-color:red;color:white'}
                  = "#{current_user.currency_symbol}#{(p.yearly_income(Time.now.year) / 12).round(2)}"
                %td{style:'background-color:red;color:white'}
                  = "#{current_user.currency_symbol}#{p.monthly_target}"
                %td{style:'background-color:red;color:white'}
                  = "#{current_user.currency_symbol}#{p.budget}"
                %td
                  = link_to(edit_individual_project_path(p), class: 'btn-mini') do
                    %i.glyphicon.glyphicon-pencil
                  = link_to(individual_project_path(p), class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                    %i.glyphicon.glyphicon-trash

        %tfoot
          %tr
            %td.digg_pagination{colspan:7}
              = will_paginate @projects, previous_label: '< PREV', next_label: 'NEXT >' if @projects.present?
