.container-fluid
  %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
    %li.active
      %a{"data-toggle" => "tab", href: "#project_overview"} Project Overview
    %li
      %a{"data-toggle" => "tab", href: "#account_tab"} Accounts
    %li
      %a{"data-toggle" => "tab", href: "#article_tab"} Articles
    %li
      %a{"data-toggle" => "tab", href: "#task_tab"} Tasks
  #my-tab-content.tab-content
    #project_overview.tab-pane.active
      .row
        .col-xs-2.col-sm-2.col-md-2.text-center
          %h5 Project Code ID :
        .col-xs-2.col-sm-2.col-md-2.text-center
          %h5 %SiteName% | %SiteCode%
      .row
        .col-xs-7.col-sm-7.col-md-7
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Month
                  %th Jan
                  %th Feb
                  %th Mar
                  %th Apr
                  %th May
                  %th Jun
                  %th Jul
                  %th Aug
                  %th Sep
                  %th Oct
                  %th Nov
                  %th Dec
              %tbody
                %tr
                  %td Expenses
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                %tr
                  %td Time Tracking
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                %tr
                  %td *Monthly Orders
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                %tr
                  %td Monthly Income
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                %tr
                  %td  
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
        .col-xs-5.col-sm-5.col-md-5
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Name
                  %th Figures
              %tbody
                %tr
                  %td Total Expenses
                  %td
                %tr
                  %td Break Even Target
                  %td
                %tr
                  %td Avg Monthly Revenue
                  %td
                %tr
                  %td *Avg Monthly Orders
                  %td
                %tr
                  %td *Total Orders Shipped
                  %td
      .row
        .col-xs-7.col-sm-7.col-md-7.text-center
          %h5 *Only appears if the monetisation statergy is Amazon or ecommerces
          = link_to "Add Time Spent", "#", class:"btn btn-primary", :"data-toggle" => "modal", :"data-target" => "#modal_add_time_spent"
          = link_to "Add Montly Orders", "#", class:"btn btn-primary", :"data-toggle" => "modal", :"data-target" => "#modal_add_monthly_order"
          = link_to "Add Monthly Income", "#", class:"btn btn-primary", :"data-toggle" => "modal", :"data-target" => "#modal_add_monthly_income"
        .col-xs-5.col-sm-5.col-md-5
          %button.btn.btn-default{type: "submit"} Edit Target
      .blank
      .row
        .col-xs-7.col-sm-7.col-md-7
          .row
            .col-xs-6.col-sm-6.col-md-6.text-center
              %h5 *Monthly Orders V Monthly Income
            .col-xs-6.col-sm-6.col-md-6.text-center
              %h5 Timespent v Avg for all sites
          .row
            #chart1.col-xs-6.col-sm-6.col-md-6
            #chart2.col-xs-6.col-sm-6.col-md-6
        .col-xs-5.col-sm-5.col-md-5
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th SiteCode
                  %th Task Name
                  %th Duration
                  %th Start Date
                  %th End Date
                  %th Owner
                  %th Compeleted
              %tbody
                %tr
                  %td SCR
                  %td Outsource 10 articles
                  %td 1 week
                  %td 2/3/14
                  %td 4/3/14
                  %td UK
                  %td
                    %input{type: "checkbox"}/
                %tr
                  %td SCR
                  %td Outsource 10 articles
                  %td 1 week
                  %td 2/3/14
                  %td 4/3/14
                  %td UK
                  %td
                    %input{checked: "checked", type: "checkbox"}/
                %tr
                  %td SCR
                  %td Outsource 10 articles
                  %td 1 week
                  %td 2/3/14
                  %td 4/3/14
                  %td UK
                  %td
                    %input{checked: "checked", type: "checkbox"}/
                %tr
                  %td SCR
                  %td Outsource 10 articles
                  %td 1 week
                  %td 2/3/14
                  %td 4/3/14
                  %td UK
                  %td
                    %input{type: "checkbox"}/
                %tr
                  %td SCR
                  %td Outsource 10 articles
                  %td 1 week
                  %td 2/3/14
                  %td 4/3/14
                  %td UK
                  %td
                    %input{type: "checkbox"}/
                %tr
                  %td SCR
                  %td Outsource 10 articles
                  %td 1 week
                  %td 2/3/14
                  %td 4/3/14
                  %td UK
                  %td
                    %input{type: "checkbox"}/
                %tr
                  %td SCR
                  %td Outsource 10 articles
                  %td 1 week
                  %td 2/3/14
                  %td 4/3/14
                  %td UK
                  %td
                    %input{type: "checkbox"}/
      .blank
      .row
        .col-xs-7.col-sm-7.col-md-7.text-center
        .col-xs-5.col-sm-5.col-md-5
          %button.btn.btn-default{type: "submit"} Add Tasks
          %button.btn.btn-default{type: "submit"} Edit task
          %button.btn.btn-default{type: "submit"} Delete
          %button.btn.btn-default{type: "submit"} Complete
      %br/
    #account_tab.tab-pane
      .row
        .col-xs-2.col-sm-2.col-md-2.text-center
          %h5 Site Name : Accounts 
        .col-xs-2.col-sm-2.col-md-2.text-center
          %h5 Site Code
    #article_tab.tab-pane
      .row
        .col-xs-2.col-sm-2.col-md-2.text-center
          %h5 Site Name : Articles
        .col-xs-2.col-sm-2.col-md-2.text-center
          %h5 Site Code
    #task_tab.tab-pane
      .row
        .col-xs-2.col-sm-2.col-md-2.text-center
          %h5 Site Name : Tasks
        .col-xs-2.col-sm-2.col-md-2.text-center
          %h5 Site Code
/ /.container



= render "home/modal_box"