= form_for @keyword, html:{class: "form-horizontal"} do |f|
  = f.hidden_field :p_id, {value:params[:pid]}
  - f.object.errors.messages.each do |msg|
    .alert.alert-error= msg.join(' is ')
  
  .row
    .col-md-8
      .form-group
        .col-md-6
          %label Site Code:
        .col-md-4
          = f.select :project_id, options_from_collection_for_select(current_user.live_projects.all, :id, :site_code, selected: @keyword.project.present? ? @keyword.project.id.to_s : ''), {}, {class: 'form-control'}
      .form-group
        .col-md-6
          %label Primary Keyword
        .col-md-4
          = f.text_field :pri_key, required: true, autofocus: true, placeholder: "", class: 'form-control'
      .form-group
        .col-md-6
          %label Secondary Keyword
        .col-md-4
          = f.text_field :sec_key, required: true, placeholder: "", class: 'form-control'
      .form-group
        .col-md-6
          %label Primary Keyword Difficulty
        .col-md-4
          = f.number_field :pri_key_difficult, required: true, placeholder: "", class: 'form-control'
      .form-group
        .col-md-6
          %label Secondary Keyword Difficulty
        .col-md-4          
          = f.number_field :sec_key_difficult, required: false, placeholder: "", class: 'form-control'
      .form-group
        .col-md-6
          %label Primary Keyword Monthly Searches
        .col-md-4
          = f.number_field :pri_key_monthly, required: true, placeholder: "", class: 'form-control'
      .form-group
        .col-md-6
          %label Secondary Keyword Monthly Searches
        .col-md-4          
          = f.number_field :sec_key_monthly, required: false, placeholder: "", class: 'form-control'    
      
  .row
    .form-group
      .col-xs-4
        *Required fields
      .col-xs-2
        = f.submit "Save", class: 'btn btn-primary col-xs-8'
      .col-xs-offset-0.col-xs-2
        - if params[:pid].present?
          = link_to "Cancel", edit_individual_project_path(params[:pid])+"?article_page=1", class: 'btn btn-default col-xs-8'
        - else
          = link_to "Cancel", articles_path, class: 'btn btn-default col-xs-8'
        
        