/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.hello-panel{
	background-color: #EEEEEE;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.form-title{
	text-align: center;	
}

label.form-title-left-label{
  margin-top: 36px;
}

#new_user{
  .user_remember_me{
    margin-left: 20px;
  }  
}

.login-form{
  border: 2px solid;
  border-radius: 5px;
  margin-top: 100px;
  padding: 35px;
}

.pricing-border-form{
  border: 2px solid;
  border-radius: 5px;
  padding: 30px;
}

form{
  .alert-error{
    background: none repeat scroll 0 0 #FF0000;
    border-radius: 5px;
    color: #FFFFFF;
  }
}
.chose-package-page{
  border: solid 2px #ddd;
  padding: 50px;
  .panel {
    border:2px solid #dddddd;
    &:hover{  
      padding: 15px;
      margin-top: -15px;
    }
  }
}



#mceu_33-l{width: 120px !important;}
#mceu_33{left: 120px !important; width: 300px !important;}

#mceu_34-l{width: 120px !important;}
#mceu_34{left: 120px !important; width: 300px !important;}