#modal_new_setting_item.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = form_tag admin_new_item_path, method: :post, remote: false, html:{class: "form-horizontal edit_individual_project"} do |f|
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Monthly Income
        .modal-body.form-horizontal          
          = hidden_field_tag :new_object, 0
          .container
            .col-sm-5
              %fieldset
                .form-group
                  %label.col-sm-4.control-label{for: "title"} New Item
                  .col-sm-8
                    = text_field_tag :item, nil, style:"width: 100%;"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = submit_tag "Add", class: 'btn btn-primary'

#modal_update_setting_item.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = form_tag admin_update_option_path, method: :post, remote: false, html:{class: "form-horizontal edit_individual_project"} do |f|
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Monthly Income
        .modal-body.form-horizontal          
          = hidden_field_tag :update_object, 0
          = hidden_field_tag :item_id, 0
          .container
            .col-sm-5
              %fieldset
                .form-group
                  %label.col-sm-4.control-label{for: "title"} New Item
                  .col-sm-8
                    = text_field_tag :item, nil, style:"width: 100%;", class: "update_item"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = submit_tag "Update", class: 'btn btn-primary'
          