.row
  %h1.form-title Admin Management
%br/
%br/
%br/
.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Username
          %th Package
          %th Last Payment
          %th Account Status
          %th Uploaded Size(M)
          %th Current Signin IP
          %th Last Signed IP
          %th Signed Count
          %th Last Signed at
          %th Reset Password
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= User::MEMBER_TYPES[user.member_type].capitalize
            %td= user.last_payment
            %td= user.status
            %td= user.uploaded_file_size
            %td= user.current_sign_in_ip
            %td= user.last_sign_in_ip
            %td= user.sign_in_count
            %td= user.last_sign_in_at.present? ? user.last_sign_in_at.strftime("%d/%m/%Y") : ''
            %td= link_to "Send Reset Email", admin_send_to_reset_password_email_path(user)
      %tfoot
        %tr
          %td.digg_pagination{colspan:3}
            = will_paginate @users
  / .col-md-4
  /   %br
  /   = link_to "Create Trial Account", "#"
  /   %br
  /   %br
  /   = link_to "Create New Account", new_registration_path(resource_name)
  /   %br
  /   %br
  /   = link_to "Delete inactive accounts", "#"
  /   