.row
  %h1.form-title Project Options
%br/
.row
  .col-md-5
    .row
      %h4.col-md-9{style:'text-align: center;'} Project Types      
      = link_to "New Item", "javascript://", class:"btn btn-primary pull-right", :"data-toggle" => "modal", :"data-target" => "#modal_new_setting_item", onclick:"new_item(0)"
    .row{style:'height: 450px;overflow-y: scroll;'}
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Number
            %th Type            
            %th Manage
        %tbody
          - Project.project_types.each do |pt|
            %tr
              %td= Project.project_types.index(pt)+1
              %td= pt
              %td
                = link_to("#", class: 'btn-mini btn-edit-item', title:'Edit', :"data-no-turbolink"=>true, data:{id:Project.project_types.index(pt), toggle: "modal", target: "#modal_update_setting_item", content: pt}, :onclick=>"new_item(0)") do
                  %i.glyphicon.glyphicon-pencil
                = link_to(admin_delete_items_path(Project.project_types.index(pt))+"?object=0", class: 'btn-mini', method: :delete, data: {confirm: "Are you sure", id:Project.project_types.index(pt)}, title:'Delete') do
                  %i.glyphicon.glyphicon-trash
  .col-md-5.col-md-offset-1
    .row
      %h4.col-md-9{style:'text-align: center;'} Project Moneistations
      = link_to "New Item", "javascript://", class:"btn btn-primary pull-right", :"data-toggle" => "modal", :"data-target" => "#modal_new_setting_item", onclick:"new_item(1)"
    .row{style:'height: 450px;overflow-y: scroll;'}
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Number
            %th Type
            %th Manage
        %tbody
          - Project.moneitions.each do |pm|
            %tr
              %td= Project.moneitions.index(pm)+1
              %td= pm
              %td
                = link_to("#", class: 'btn-mini btn-edit-item', title:'Edit', :"data-no-turbolink"=>true, data:{id:Project.moneitions.index(pm), toggle: "modal", target: "#modal_update_setting_item", content: pm}, :onclick=>"new_item(1)") do
                  %i.glyphicon.glyphicon-pencil
                = link_to(admin_delete_items_path(Project.moneitions.index(pm))+"?object=1", class: 'btn-mini', method: :delete, data: {confirm: "Are you sure", id:Project.moneitions.index(pm)}, title:'Delete') do
                  %i.glyphicon.glyphicon-trash
.row
  %h1.form-title Expense Options
%br/
.row
  .col-md-5
    .row
      %h4.col-md-9{style:'text-align: center;'} Item Types
      = link_to "New Item", "javascript://", class:"btn btn-primary pull-right", :"data-toggle" => "modal", :"data-target" => "#modal_new_setting_item", onclick:"new_item(2)"
    .row{style:'height: 450px;overflow-y: scroll;'}
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Number
            %th Type            
            %th Manage
        %tbody
          - Expense.item_types.each do |it|
            %tr
              %td= Expense.item_types.index(it)+1
              %td= it
              %td
                = link_to("#", class: 'btn-mini btn-edit-item', title:'Edit', :"data-no-turbolink"=>true, data:{id:Expense.item_types.index(it), toggle: "modal", target: "#modal_update_setting_item", content: it}, :onclick=>"new_item(2)") do
                  %i.glyphicon.glyphicon-pencil
                = link_to(admin_delete_items_path(Expense.item_types.index(it))+"?object=2", class: 'btn-mini', method: :delete, data: {confirm: "Are you sure", id:Expense.item_types.index(it)}, title:'Delete') do
                  %i.glyphicon.glyphicon-trash

  .col-md-5.col-md-offset-1
    .row
      %h4.col-md-9{style:'text-align: center;'} Payment Methods
      = link_to "New Item", "javascript://", class:"btn btn-primary pull-right", :"data-toggle" => "modal", :"data-target" => "#modal_new_setting_item", onclick:"new_item(3)"
    .row{style:'height: 450px;overflow-y: scroll;'}
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Number
            %th Type
            %th Manage
        %tbody
          - Expense.payment_methods.each do |pm|
            %tr
              %td= Expense.payment_methods.index(pm)+1
              %td= pm
              %td
                = link_to("#", class: 'btn-mini btn-edit-item', title:'Edit', :"data-no-turbolink"=>true, data:{id:Expense.payment_methods.index(pm), toggle: "modal", target: "#modal_update_setting_item", content: pm}, :onclick=>"new_item(3)") do
                  %i.glyphicon.glyphicon-pencil
                = link_to(admin_delete_items_path(Expense.payment_methods.index(pm))+"?object=3", class: 'btn-mini', method: :delete, data: {confirm: "Are you sure", id:Expense.payment_methods.index(pm)}, title:'Delete') do
                  %i.glyphicon.glyphicon-trash

= render "setting_modal"

:javascript
  function new_item(option){
    $("#new_object").val(option)
    $("#update_object").val(option)
  }

  $(".btn-edit-item").click(function(){
    id = $(this).data("id")
    $("#item_id").val(id)
    $(".update_item").val($(this).data("content"))
  })