= form_for @expense, html:{class: "form-horizontal"} do |f|
  - f.object.errors.messages.each do |msg|
    .alert.alert-error= msg.join(' is ')
  .row
    .col-md-6
      .form-group
        %label.control-label.col-xs-3{for: "expense_site_code"} Site Code
        .col-xs-5
          = f.select :project_id, options_from_collection_for_select(current_user.live_projects.all, :id, :site_code, selected: f.object.project_id.present? ? f.object.project_id : ''), {}, {class: 'form-control'}
      
      .form-group
        %label.control-label.col-xs-3{for: "expense_item_type"} Item Type
        .col-xs-5
          = f.select :item_type, options_for_select(Expense.item_types.map{|it| [it, Expense.item_types.index(it)]}, selected: f.object.item_type.present? ? f.object.item_type : 0), {include_blank: true}, {class: 'form-control'}
      
      .form-group
        %label.control-label.col-xs-3{for: "expense_date"} Date
        .col-xs-5
          .input-group.date
            = f.text_field :date, required: true, class: "form-control", style:'padding-right: 0px;', value: f.object.date.present? ? f.object.date.strftime("%d/%m/%Y") : ''
            %span.input-group-addon
              %i.glyphicon.glyphicon-calendar
      .form-group
        %label.control-label.col-xs-3{for: "expense_amount"} Amount
        .col-xs-3{style:'padding-right:0'}
          = f.text_field :amount_money, required: true, class: 'form-control'
        .col-xs-2{style:'padding-left:0'}
          = select_tag :currency_type, options_for_select(Payment::CURRENCY_TYPES), {class: 'form-control', name: 'expense[currency_type]', style:'padding:6px;'}
        / .col-xs6
        /   %label.control-label Will be converted to your default :GBP

      .form-group
        %label.control-label.col-xs-3{for: "expense_paument_method"} Payment Method
        .col-xs-5
          = f.select :payment_method, options_for_select(Expense.payment_methods.map{|pm| [pm, Expense.payment_methods.index(pm)]}, selected: f.object.payment_method.present? ? f.object.payment_method : ''), {include_blank: true}, {class: 'form-control', style:'padding 6px 0;'}

      / .form-group
      /   %label.control-label.col-xs-3{for: "expense_budget_pot"} Budget Pot
      /   .col-xs-5
      /     = f.select :budget_pot, options_for_select(Expense:: BUDGET_TYPE.map{|bt| [bt, Expense:: BUDGET_TYPE.index(bt)]}), {}, {class: 'form-control'}
      .form-group
        %label.control-label.col-xs-3{for: "expense_recurring", style:'padding-left: 0px;'} Recurring Expense
        .col-xs-5
          = f.check_box :recurring, style:'margin-top: 10px;'
    .col-md-6
      .form-group
        %label{for: "expense_title"} *Title
        = f.text_field :title, required: true, class: "form-control"
      %br/
      .form-group
        %label{for: "expense_description"} Description
        %br/
        = f.text_area(:description, cols: 84, rows: 5, required: false, class: 'tinymce')
      .col-md-12{style:'padding-left: 0px; margin-left: -20px;'}
        %label Attach Documents
        .row.attached-files-box
          - f.object.attach_files.each do |file|
            .row{style:"margin-left: 20px;"}
              .col-md-7
                = hidden_field_tag :attach_files, file.id.to_s, name:"attach_files[]"
                %label.file-name= file.read_attribute(:file)
              .col-md-5
                = link_to "X", "javascript://", :"data-url" => attach_file_path(file), class: 'btn-default btn-sm btn-file-close-btn'
        .row.attach-upload-form
          .col-md-7
            = file_field_tag :attach_file, required:false, :onchange =>"validateFiles(this);"
          .col-md-5.upload-button-group{style:'display: none;'}
            = link_to "Upload", "javascript://", class: 'btn btn-primary btn-sm btn-file-upload-btn'
            = link_to "Cancel", "javascript://", class: 'btn btn-danger btn-sm btn-file-cancel-btn'
  %br/
  %br/
  .row
    .form-group
      .col-xs-2.col-xs-offset-4
        = f.submit "Submit", class: 'btn btn-primary'
      .col-xs-2
        = link_to("Cancel", expenses_path+"?fid=", class: "btn btn-warning cancel-expense-path")



:javascript
  function validateFiles(inputFile) {
    var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
    var extErrorMessage = "Please check the file extension list \ndoc, docx, dotx, xls, xlt, xlsx, xltx, pptx, pptm, potx, ppt, pot, pps, psx, sldx, pdf, jpg, jpeg, gif, png, ods, fods, odp, fodp, odg, fodg, csv";
    var allowedExtension = ["doc", "docx", "dotx", "xls", "xlt", "xlsx", "xltx", "pptx", "pptm", "potx", "ppt", "pot", "pps", "psx", "sldx", "pdf", "jpg",  "jpeg",  "gif",  "png", "BMP", "JPEG", "JPG", "PSD", "GIF", "TIF", "TIFF", "ods", "fods", "odp", "fodp", "odg", "fodg", "csv"]

   
    var extName;
    var maxFileSize = $(inputFile).data('max-file-size');
    var sizeExceeded = false;
    var extError = false;
   
    $.each(inputFile.files, function() {
      if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
      extName = this.name.split('.').pop();
      if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
    });
    if (sizeExceeded) {
      window.alert(maxExceededMessage);
      $(inputFile).val('');
    };
   
    if (extError) {
      window.alert(extErrorMessage);
      $(inputFile).val('');
    };

    if (!sizeExceeded && !extError){    
      $(".upload-button-group").show();
    }
  }
  $(".btn-file-upload-btn").click(function(){
    data = new FormData();
    jQuery.each($('#attach_file')[0].files, function(i, file) {
        data.append('file', file);
    });    
    $.ajax({
      url: '/attach_files',
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      type: 'POST',
      success: function(data){
        data = jQuery.parseJSON(data);
        row = '<div class="row" style="margin-left: 20px;"><div class="col-md-7"><input id="attach_files" type="hidden" value="'+data.id+'" name="attach_files[]"><label class="file-name">'+data.name+'</label></div><div class="col-md-5"><a href="javascript://" data-url="'+data.delete_url+'" class="btn-default btn-sm btn-file-close-btn">X</a></div></div>'
        $(row).appendTo(".attached-files-box");
        $(".upload-button-group").hide();
        $("#attach_file").val('');
        href = $(".cancel-task-path").attr('href')
        href = href +data.id+ ','
        $(".cancel-expense-path").attr('href', href)
      },
      error:function(request, textStatus, errorThrown) {
        msg = JSON.parse(request.responseText)
        var message = (request.status == 422) ? msg.errors : "An unknown error occurred. Support has been contacted.";
        alert(message);
      }
    });
  });

  $(".btn-file-cancel-btn").click(function(){
    $(".upload-button-group").hide();
    $("#attach_file").val('');
  })


  $('.attached-files-box').on('click', '.btn-file-close-btn', function(){
    $.ajax({
      url: $(this).data("url"),
      data: 'data',
      type: 'DELETE',
      done: function(data){      
        $(this).parent().parent().remove();
      }      
    });
    $(this).parent().parent().remove();
  })
