.row
  .col-md-10
    %h1.form-title Expenses
  .col-md-2.pull-right{style:'margin-top:24px;'}
    = link_to "New Expense", new_expense_path, :"data-no-turbolink"=>true, class: 'btn btn-primary'

.row
  #month_month.col-md-5
  = high_chart("month_month", @chart1)

  #profits_expenses.col-md-5.col-md-offset-1
  = high_chart("profits_expenses", @chart2)

.row
  .col-md-8
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Site Code
          %th Item Type
          %th Date
          %th Amount
          %th Payment Method
          / %th Budget Pot
          %th Manage
      %tbody
        - @expenses.each do |expense|
          %tr
            %td
              = link_to(expense.site_code_name, expense_path(expense))
            %td= expense.item_type_name
            %td= expense.date.strftime("%d/%m/%Y")
            %td
              = "#{expense.currency_symbol}#{expense.amount}"
            %td= expense.payment_method_name
            / %td= expense.budget_type_name
            %td
              = link_to(edit_expense_path(expense), class: 'btn-mini', :"data-no-turbolink"=>true) do
                %i.glyphicon.glyphicon-pencil
              = link_to(expense_path(expense), class: 'btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                %i.glyphicon.glyphicon-trash        
      %tfoot
        %tr
          %td.digg_pagination{colspan:4}
            = will_paginate @expenses, previous_label: '< PREV', next_label: 'NEXT >' if @expenses.present?
          %td{colspan:2}
  .col-md-4
    %table.table.table-striped.table-hover
      %thead
        %th Top Payment Method
        %th Paypal
      %tbody
        %tr
          %td Most Budget Pot Used
          %td= current_user.expenses.most_budget_pot
        %tr
          %td Most Spent On
          %td= current_user.expenses.most_spent_on
        %tr
          %td Top 3 Site Code
          %td= current_user.expenses.top_three_site_code
