.row
  %h2.form-title
    Expense ID :
    = @expense.id
  %br/  
  .row
    .form-group
      %label.control-label.col-xs-2{for: "expense_site_code"} Title:
      .col-xs-4
        = @expense.title
  %br/  
  .row
    .form-group
      %label.control-label.col-xs-2{for: "expense_site_code"} Site Code:
      .col-xs-4
        = @expense.site_code_name
  %br/
  .row
    .form-group
      %label.control-label.col-xs-2{for: "expense_site_code"} Item Type:
      .col-xs-4
        = @expense.item_type_name
  %br/
  .row
    .form-group
      %label.control-label.col-xs-2{for: "expense_site_code"} Date:
      .col-xs-4
        = @expense.date.strftime("%d/%m/%Y")
  %br/    
  .row
    .form-group
      %label.control-label.col-xs-2{for: "expense_site_code"} Amount:
      .col-xs-4
        = @expense.amount
  %br/
  .row
    .form-group
      %label.control-label.col-xs-2{for: "expense_site_code"} Payment Method
      .col-xs-4
        = @expense.payment_method_name
  %br/
  .row
    .form-group
      %label.control-label.col-xs-2{for: "expense_site_code"} Budget Pot:
      .col-xs-4
        = @expense.budget_type_name
  %br/
  .row
    .form-group
      %label.control-label.col-xs-2{for: "expense_site_code"} Reason:
      .col-xs-8
        = raw @expense.description
  %br/
  .row
    .form-group
      %label.control-label.col-xs-2{for: "expense_site_code"} Recurring Expense:
      .col-xs-8
        - if @expense.recurring == true
          = "on #{(@expense.date + 30.days).strftime('%d/%m/%Y')}"
  %br/
  .row
    .form-group
      %h5 Uploaded Files
      - @expense.attach_files.each do |file|
        .col-md-6
          =link_to file.read_attribute(:file), file.attach_url
        .col-md-4
          Size:
          = file.file_size
          KB
        %br/

.row
  .col-md-offset-0.col-md-2
    = link_to "Edit", edit_expense_path(@expense), class: 'btn btn-primary', :"data-no-turbolink"=>true
  .col-md-offset-1.col-md-2  
    = link_to "Cancel", expenses_path, class: 'btn btn-default'