.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path} BluAdmin
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Home", root_path
        %li
          - if current_user.present?
            = link_to "Future Projects", projects_path
          - else
            = link_to "About", home_about_path
        - if current_user.present?
          %li
            = link_to "Individual Projects", individual_projects_path          
        %li
          - if current_user.present?
            = link_to "Expenses", expenses_path
          - else
            = link_to "Features", home_features_path
        %li.pricing
          - if current_user.present?
            / = link_to "Ideas", articles_path
          - else
            = link_to "Pricing", home_pricing_path
        %li.contact
          - if current_user.present?
            = link_to "Tasks", tasks_path
          - else
            = link_to "Contact", home_contact_path
        - if current_user.present? and current_user.is_admin?
          %li.users
            = link_to "Users", admin_users_path

      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?          
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "User Setting", users_setting_path, :"data-no-turbolink"=>true
              %li
                = link_to "Import CSV", init_projects_path, :"data-no-turbolink"=>true
              - if current_user.present? and current_user.is_admin?
                %li
                  = link_to "Admin Setting", admin_setting_path, :"data-no-turbolink"=>true
              %li.divider
              %li
                = link_to "Log out", destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to "Login", new_user_session_path
      / %form.navbar-form.navbar-right
      /   %input.form-control{placeholder: "Search...", type: "text"}/      