!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Bluadmin"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header.navbar.navbar-inverse.navbar-fixed-top
      %nav.container
        = render 'layouts/navigation'
    #main{:role => "main", class: params[:controller]}
      .container.container-fluid
        .content
          = render 'layouts/messages'
          = yield
          %footer