= form_for @account, html:{class: "form-horizontal", :"data-validate" => "parsley"} do |f|
  = f.hidden_field :project_id, {value:params[:pid]}
  - f.object.errors.messages.each do |msg|
    .alert.alert-error= msg.join(' is ')
  
  .row
    .col-md-8
      .form-group
        .col-md-4
          %label *Account Type
        .col-md-4
          = f.select :type, options_for_select(Account::TYPES.map{|tp| [tp, Account::TYPES.index(tp)]}, f.object.type.present? ? f.object.type : '' ), {include_blank: false}, {class: 'form-control'}
      .form-group
        .col-md-4
          %label *Account Username
        .col-md-4
          = f.text_field :user_name, required: true, autofocus: true, placeholder: "Account Username or Email", class: 'form-control'
      .form-group
        .col-md-4
          %label Account Password
        .col-md-4
          = f.password_field :password, required: false, placeholder: "Password here", class: 'form-control'
      .form-group
        .col-md-4
          %label *Account URL
        .col-md-4          
          = f.text_field :url, required: true, placeholder: "", class: 'form-control', type: "url", :"data-required"=>"true", :"data-parsley-type"=>"url"
          
      
  .row
    .form-group
      .col-xs-6
        *Requried fields
      .col-xs-2
        = f.submit "Save", class: 'btn btn-primary col-xs-8'
      .col-xs-offset-0.col-xs-2
        = link_to "Cancel", edit_individual_project_path(params[:pid]), class: 'btn btn-default col-xs-8'
        